<div class="container-fluid" *ngIf="isDataAvailable == false">
    <div class="row">
        <div class="col-sm-12">
            <div class="loader"></div>
        </div>
    </div>
</div>

<div class="jumbotron" *ngIf="isDataAvailable == true">
    <div class="row">
        <div class="col-sm-10">
            <h3 class="display-4">{{title}}</h3>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-outline-primary" (click)="submitBmsComp()">Save</button>
            <button type="button" class="btn btn-outline-secondary" (click)="cancel()">Reset</button>
        </div>
    </div>
    <form [formGroup]="formBms" (ngSubmit)="onSubmitBms(formBms.value)">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div tooltip="This panel is used to configure BACnet Password if checkbox is checked otherwise it is optional field." placement="right" delay="500" style="cursor:pointer; display: inline-block;">
                            <!-- <div tooltip="This panel is used to configure BACnet Password if checkbox is checked otherwise it is optional field." placement="right" delay="500"> -->
                            <span style="background:transparent">BACnet Password <i class="fa fa-info-circle" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="mainContent">
                            <div class="row">
                                <div class="col-sm-6 rightBorder" style="padding : 0px">
                                    <div class="form-group" id="fieldName" class="borderBottomField">
                                        <p><strong>BACnet Password</strong></p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <!-- <form [formGroup]="formBms" (ngSubmit)="onSubmitBms(formBms.value)"> -->
                                    <div *ngFor="let post of _postsArrayBms">
                                        <input type="checkbox" (click)="toggleShowPassword()">
                                        <p class="showPassword">BACnet Password required</p>

                                        <div class="form-group borderBottomField1">
                                            <input name="BACnetPassword" type="{{typeBCT}}" class="form-control" id="exampleFormControlInput10" formControlName="BACnetPassword" required>
                                            <div *ngIf="formBms.controls['BACnetPassword'].invalid && (formBms.controls['BACnetPassword'].dirty || formBms.controls['BACnetPassword'].touched)" class="alert alert-danger">
                                                <div *ngIf="formBms.controls['BACnetPassword'].errors.required">
                                                    BACnetPassword is required.
                                                </div>
                                                <!-- <div *ngIf="formBms.controls['BACnetPassword'].errors.minlength">
                                          Model Name must be at least 5 characters long.
                                      </div> -->
                                            </div>
                                        </div>

                                        <input type="checkbox" (click)="toggleBCTShow()">
                                        <p class="showPassword">Show Password</p>
                                    </div>
                                    <!-- </form> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div tooltip="This panel is used to enable or disable different types of services requested by BMS." placement="right" delay="500" style="cursor:pointer; display: inline-block;">
                            <!-- <div tooltip="This panel is used to configure BACnet Password if checkbox is checked otherwise it is optional field." placement="right" delay="500"> -->
                            <span style="background:transparent">BMS Settings<i class="fa fa-info-circle" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="mainContent">
                            <div class="row">
                                <div class="col-sm-6 rightBorder" style="padding : 0px">
                                    <div class="form-group" id="fieldName" class="borderBottomField">
                                        <p><strong>Present Value Write Access</strong></p>
                                    </div>
                                    <div class="form-group" id="fieldName" class="borderBottomField">
                                        <p><strong>Time Synchronization </strong></p>
                                    </div>
                                    <div class="form-group" id="fieldName" class="borderBottomField">
                                        <p><strong>Scheduling </strong></p>
                                    </div>
                                    <div class="form-group" id="fieldName" class="borderBottomField">
                                        <p><strong>Expose Individual Fixture </strong></p>
                                    </div>
                                    <div class="form-group" id="fieldName" class="borderBottomField">
                                        <p><strong>Expose Individual Sensor </strong></p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <!-- <form [formGroup]="formBms" (ngSubmit)="onSubmitBms(formBms.value)"> -->
                                    <div *ngFor="let post of _postsArrayBms">
                                        <div class="borderBottomField">
                                            <input name="WriteAccess" type="checkbox" class="form-control" id="exampleFormControlInput1" formControlName="WriteAccess" required>
                                            <div *ngIf="formBms.controls['WriteAccess'].invalid && (formBms.controls['WriteAccess'].dirty || formBms.controls['WriteAccess'].touched)" class="alert alert-danger">
                                                <div *ngIf="formBms.controls['WriteAccess'].errors.required">
                                                    WriteAccess is required.
                                                </div>
                                              
                                            </div>
                                        </div>
                                        <div class="form-group" class="borderBottomField">
                                            <input name="TimeSynchronization" type="checkbox" class="form-control" id="exampleFormControlInput2" formControlName="TimeSynchronization" required>
                                            <div *ngIf="formBms.controls['TimeSynchronization'].invalid && (formBms.controls['TimeSynchronization'].dirty || formBms.controls['TimeSynchronization'].touched)" class="alert alert-danger">
                                                <div *ngIf="formBms.controls['TimeSynchronization'].errors.required">
                                                    TimeSynchronization is required.
                                                </div>
                                                <!-- <div *ngIf="formBms.controls['TimeSynchronization'].errors.minlength">
                                          Model Name must be at least 5 characters long.
                                      </div> -->
                                            </div>
                                        </div>
                                        <div class="form-group" class="borderBottomField">
                                            <input name="Scheduling" type="checkbox" class="form-control" id="exampleFormControlInput3" formControlName="Scheduling" required>
                                            <div *ngIf="formBms.controls['Scheduling'].invalid && (formBms.controls['Scheduling'].dirty || formBms.controls['Scheduling'].touched)" class="alert alert-danger">
                                                <div *ngIf="formBms.controls['Scheduling'].errors.required">
                                                    Scheduling is required.
                                                </div>
                                                <!-- <div *ngIf="formBms.controls['Scheduling'].errors.minlength">
                                          Model Name must be at least 5 characters long.
                                      </div> -->
                                            </div>
                                        </div>
                                        <div class="form-group" class="borderBottomField">
                                            <input name="MapIndividualFixture" type="checkbox" class="form-control" id="exampleFormControlInput5" formControlName="MapIndividualFixture" required>
                                            <div *ngIf="formBms.controls['MapIndividualFixture'].invalid && (formBms.controls['MapIndividualFixture'].dirty || formBms.controls['MapIndividualFixture'].touched)" class="alert alert-danger">
                                                <div *ngIf="formBms.controls['MapIndividualFixture'].errors.required">
                                                    MapIndividualFixture is required.
                                                </div>
                                            </div>
                                        </div>

                                        <div class="borderBottomField1" >
                                            <input name="MapIndividualSensors" type="checkbox" class="form-control" id="exampleFormControlInput4" formControlName="MapIndividualSensors" required>
                                            <div *ngIf="formBms.controls['MapIndividualSensors'].invalid && (formBms.controls['MapIndividualSensors'].dirty || formBms.controls['MapIndividualSensors'].touched)" class="alert alert-danger">
                                                <div *ngIf="formBms.controls['MapIndividualSensors'].errors.required">
                                                    MapIndividualSensors is required.
                                                </div>
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <!-- </form> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div tooltip="This panel is used to display ANSI X3.4 i.e. UTF8 Character Encoding Set." placement="right" delay="500" style="cursor:pointer; display: inline-block;">
                            <!-- <div tooltip="This panel is used to configure BACnet Password if checkbox is checked otherwise it is optional field." placement="right" delay="500"> -->
                            <span style="background:transparent">Character Encoding Set<i class="fa fa-info-circle" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="mainContent">
                            <div class="row">
                                <div class="col-sm-6 rightBorder" style="padding : 0px">
                                    <div class="form-group" id="fieldName" class="borderBottomField">
                                        <p><strong>Character Encoding Set</strong></p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <!-- <form [formGroup]="formBms" (ngSubmit)="onSubmitBms(formBms.value)"> -->
                                    <div *ngFor="let post of _postsArrayBms">
                                        <div class="form-group borderBottomField1">
                                            <input name="CharacterEncodingTypes" type="text" readonly="true" class="form-control" id="exampleFormControlInput6" formControlName="CharacterEncodingTypes" required>
                                            <div *ngIf="formBms.controls['CharacterEncodingTypes'].invalid && (formBms.controls['CharacterEncodingTypes'].dirty || formBms.controls['CharacterEncodingTypes'].touched)" class="alert alert-danger">
                                                <div *ngIf="formBms.controls['CharacterEncodingTypes'].errors.required">
                                                    CharacterEncodingTypes is required.
                                                </div>
                                                <!-- <div *ngIf="formBms.controls['CharacterEncodingTypes'].errors.minlength">
                                          Model Name must be at least 5 characters long.
                                      </div> -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- </form> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div tooltip="This panel is used to set the Default BACnet Units for Sensors." placement="right" delay="500" style="cursor:pointer; display: inline-block;">
                            <!-- <div tooltip="This panel is used to configure BACnet Password if checkbox is checked otherwise it is optional field." placement="right" delay="500"> -->
                            <span style="background:transparent">Sensor Unit Settings<i class="fa fa-info-circle" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="mainContent">
                            <div class="row">
                                <div class="col-sm-6 rightBorder" style="padding : 0px">
                                    <div class="form-group" id="fieldName" class="borderBottomField">
                                        <p><strong>Temperature</strong></p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <!-- <form [formGroup]="formBms" (ngSubmit)="onSubmitBms(formBms.value)"> -->
                                    <div *ngFor="let post of _postsArrayBms">

                                        <div class="form-group borderBottomField1">
                                                <select class="custom-dropdown__select custom-dropdown__select--red" (change)="DataPublishClick($event.srcElement.value)">
                                                        <option *ngFor = "let option of molexProjectNameValue"> {{option}} </option>
                                                      </select>
                                          
                                        </div>
                                    </div>
                                    <!-- </form> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row" style="background-color:#f9f9f9">
        <div class="col-sm-10">
            <h6><b>© Copyright 2019<span style="color:red"> molex, LLC.</span></b> All rights reserved.</h6>
        </div>
        <div class="col-sm-2">
            <h6 class="bacnetVersion">Version 1.2.0.0</h6>
        </div>
    </div>

</div>
