.navbar {
    padding: 0 1rem;
}

#removePadding {
    padding-left: 80px;
}

.h2,
h2 {
    font-size: .8rem;
}

p {
    margin-bottom: 0rem;
}

#fieldName {
    display: block;
    width: 100%;
    padding: .340rem .75rem;
    font-size: .7rem;
    line-height: 1.5;
    color: #495057;
    /* background-color: #fff; */
    background-clip: padding-box;
    margin-bottom: .5rem;
    /* border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
}

.form-control {
    padding: .275rem .75rem;
    font-size: .7rem;
}

.form-group {
    margin-bottom: .5rem;
}

.btn-primary {
    font-size: .75rem;
}

.leftMargin {
    margin: 0 1rem 0 2rem;
}

.leftMargin p {
    display: inline-block;
    margin-left: 1rem;
}

.leftMargin::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #495057;
}

.submitBtn {
    cursor: pointer
}

.submitBtn:disabled {
    cursor: not-allowed;
}

body {
    position: relative;
    overflow-x: hidden;
}

body,
html {
    height: 100%;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background-color: transparent;
}


/*-------------------------------*/


/*           Wrappers            */


/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    /* padding-left: 220px; */
}

#sidebar-wrapper {
    z-index: 1000;
    left: 0px;
    width: 0;
    height: 42.5rem;
    /* margin-left: -220px; */
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
    height: 42.5rem;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
    position: absolute;
    top: 0;
}

#wrapper.toggled #page-content-wrapper {
    /* position: absolute; */
    margin-right: -220px;
    position: absolute;
    top: 0;
}


/*-------------------------------*/


/*     Sidebar nav styles        */


/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;
}


/* .sidebar-nav li:first-child button {
  color: #fff;
  background-color: #1a1a1a;
} */

.sidebar-nav li:nth-child(1):before {
    background-color: #c6ec1b;
}

.sidebar-nav li:nth-child(2):before {
    background-color: #ec1b5a;
}

.sidebar-nav li:nth-child(3):before {
    background-color: #79aefe;
}

.sidebar-nav li:nth-child(4):before {
    background-color: #314190;
}

.sidebar-nav li:nth-child(5):before {
    background-color: #279636;
}

.sidebar-nav li:nth-child(6):before {
    background-color: #7d5d81;
}

.sidebar-nav li:nth-child(7):before {
    background-color: #ead24c;
}

.sidebar-nav li:nth-child(8):before {
    background-color: #2d2366;
}

.sidebar-nav li:nth-child(9):before {
    background-color: #35acdf;
}

.sidebar-nav li:nth-child(10):before {
    background-color: #38ca5d;
}

.sidebar-nav li:nth-child(11):before {
    background-color: #df3584;
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;
}

.sidebar-nav li,
.sidebar-nav li button {
    cursor: pointer;
}


/* .sidebar-nav li button {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 10px 15px 10px 30px;
  background: transparent;
  border: transparent;
  outline: none;
} */

.card-button {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 16px 10px 30px;
    text-align: left;
    background: transparent;
    border: transparent;
    outline: none;
}


/* .sidebar-nav li button:hover,
.sidebar-nav li button:active,
.sidebar-nav li button:focus,
.sidebar-nav li.open button:hover,
.sidebar-nav li.open button:active,
.sidebar-nav li.open button:focus {
  color: #fff;
  text-decoration: none;
  background-color: transparent;

} */

.button-active {
    width: 100%;
    color: #000;
    text-decoration: none;
    background-color: rgb(255, 217, 0);
}

.button-standard {
    width: 100%;
    color: #fff;
}


/* .sidebar-nav li.open button:active,
.sidebar-nav li button:active {
  width: 100%;
  color: #fff;
  text-decoration: none;
  background-color: red;
} */

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}


/*-------------------------------*/


/*       Hamburger-Cross         */


/*-------------------------------*/

.hamburger {
    display: none;
    position: fixed;
    top: 75px;
    z-index: 999;
    /* display: block; */
    width: 32px;
    height: 32px;
    margin-left: 15px;
    background: transparent;
    border: none;
}

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
    outline: none;
}

.hamburger.is-closed:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
    background-color: #1a1a1a;
}

.hamburger.is-closed .hamb-top {
    top: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-middle {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-closed .hamb-bottom {
    bottom: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
    top: -2px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-bottom {
    bottom: -2px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    background-color: #1a1a1a;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open .hamb-middle {
    display: none;
}

.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}


/*-------------------------------*/


/*            Overlay            */


/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250, 250, 250, .8);
    z-index: 1;
}

.removePaddingDiv {
    padding-left: 0px;
}

.row {
    margin-right: 0px;
}
