<!-- main app container -->
<!-- <ul>
   <li *ngFor="let users of Users">
     <h2>{{prop}}</h2>
   </li>
   </ul>  -->

<div id="wrapper" [ngClass]="ref.click === true? 'toggled' :''">
    <!-- <div class="overlay" [ngStyle]="{disply:ref.click === true? 'block' :'none'}"></div> -->

    <!-- Sidebar -->
    <!--
    <div *ngFor="let env of carsList; let i =index">
        <button (click)="buttonClick(i)" class="card-button" name="button" [ngClass]="[i == isselected ? 'button-active' : 'button-standard']">{{env}}</button>
    </div> -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 removePaddingDiv">
                <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
                    <ul class="nav sidebar-nav">
                        <!-- <li class="sidebar-brand">
                  <a href="#">
                     Brand
                  </a>
              </li> -->
                        <li *ngFor="let configList of allConfigList; let i =index">
                            <!-- <a href="#" (click)="showChart = !showChart"> Chart Config</a> -->
                            <button (click)="buttonClick(i)" class="card-button" [ngClass]="[i == isselected ? 'button-active' : 'button-standard']"> {{configList}}</button>

                        </li>
                    </ul>
                </nav>

            </div>
            <div class="col-sm-8">
                <!-- /#sidebar-wrapper -->

                <!-- Page Content -->
                <div id="page-content-wrapper">
                    <button appSidebar #ref="appSidebar" type="button" class="hamburger is-open" data-toggle="offcanvas">
                        <span class="hamb-top"></span>
                        <span class="hamb-middle"></span>
                        <span class="hamb-bottom"></span>
                    </button>

                    <div class="container-fluid" id="removePadding" *ngIf="ref.click === false">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="jumbotron">
                                    <h1 class="display-4">Application Configration</h1>
                                    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                                    <hr class="my-4">
                                    <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->

                                    <ul class="list-unstyled">
                                        <li class="media">
                                            <img src="../../assets/main_img_1.png" class="mr-3" alt="...">
                                            <div class="media-body">
                                                <h5 class="mt-0 mb-1">List-based media object</h5>
                                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                            </div>
                                        </li>
                                        <!-- <li class="media my-4">
                                  <img src="../../assets/main_img_2.png" class="mr-3" alt="...">
                                  <div class="media-body">
                                      <h5 class="mt-0 mb-1">List-based media object</h5>
                                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                  </div>
                              </li> -->
                                        <li class="media">
                                            <img src="../../assets/main_img_3.png" class="mr-3" alt="...">
                                            <div class="media-body">
                                                <h5 class="mt-0 mb-1">List-based media object</h5>
                                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                            </div>
                                        </li>
                                    </ul>
                                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                                </div>
                                <!-- <div class="mainContent">
                          helllodsssASSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
                      </div> -->
                            </div>
                        </div>
                    </div>

                    <div class="container" *ngIf="ref.click === true && isDataAvailable == false">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <div class="loader"></div>
                            </div>
                        </div>
                    </div>

                    <div class="container" *ngIf="ref.click === true  && isDataAvailable == true">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <!-- getHumidex -->
                                <div class="mainContent" *ngIf="showHumidex">
                                    <div class="card">
                                        <div class="card-header">Humidex Range Config</div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group" id="fieldName">
                                                        <p><strong>goodMin</strong></p>
                                                    </div>
                                                    <div class="form-group" id="fieldName">
                                                        <p><strong>goodMax</strong></p>
                                                    </div>
                                                    <div class="form-group" id="fieldName">
                                                        <p><strong>goodColor</strong></p>
                                                    </div>
                                                    <div class="form-group" id="fieldName">
                                                        <p><strong>normalMin</strong></p>
                                                    </div>
                                                    <div class="form-group" id="fieldName">
                                                        <p><strong>normalMax</strong></p>
                                                    </div>
                                                    <div class="form-group" id="fieldName">
                                                        <p><strong>normalColor</strong></p>
                                                    </div>
                                                    <div class="form-group" id="fieldName">
                                                        <p><strong>notGoodMin</strong></p>
                                                    </div>
                                                    <div class="form-group" id="fieldName">
                                                        <p><strong>notGoodMax</strong></p>
                                                    </div>
                                                    <div class="form-group" id="fieldName">
                                                        <p><strong>notGoodColor</strong></p>
                                                    </div>
                                                    <div class="form-group" id="fieldName">
                                                        <p><strong>badMin</strong></p>
                                                    </div>
                                                    <div class="form-group" id="fieldName">
                                                        <p><strong>badMax</strong></p>
                                                    </div>
                                                    <div class="form-group" id="fieldName">
                                                        <p><strong>badColor</strong></p>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <!-- <form *ngFor = "let post of _postsArrayHumidex"> -->
                                                    <form [formGroup]="formHumidex" (ngSubmit)="onSubmitHumidex(formHumidex.value)">
                                                        <div *ngFor="let post of _postsArrayHumidex">
                                                            <div class="form-group">
                                                                <!-- <input name="goodMin" type="number" class="form-control" id="exampleFormControlInput1" value="{{post.goodMin}}" formControlName="goodMin" [ngClass]="{ 'is-invalid': submitted && fhumidex.goodMin.errors }">
                                                      <div *ngIf="submittedHumidex && fhumidex.goodMin.errors" class="invalid-feedback">
                                                          <div *ngIf="fhumidex.goodMin.errors.required">goodMin Number is required</div>
                                                      </div> -->
                                                                <input name="goodMin" type="number" class="form-control" id="exampleFormControlInput1" formControlName="goodMin" minlength="5" maxlength="10" required>
                                                                <div *ngIf="formHumidex.controls['goodMin'].invalid && (formHumidex.controls['goodMin'].dirty || formHumidex.controls['goodMin'].touched)" class="alert alert-danger">
                                                                    <div *ngIf="formHumidex.controls['goodMin'].errors.required">
                                                                        Good Min is required.
                                                                    </div>
                                                                    <div *ngIf="formHumidex.controls['goodMin'].errors.minlength">
                                                                        Good Min must be at least 5 characters long.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <!-- <input name="goodMax" type="number" class="form-control" id="exampleFormControlInput1" value="{{post.goodMax}}" formControlName="goodMax" [ngClass]="{ 'is-invalid': submitted && fhumidex.goodMax.errors }">
                                                      <div *ngIf="submittedHumidex && fhumidex.goodMax.errors" class="invalid-feedback">
                                                          <div *ngIf="fhumidex.goodMax.errors.required">goodMax Number is required</div>
                                                      </div> -->
                                                                <input name="goodMax" type="number" class="form-control" id="exampleFormControlInput1" formControlName="goodMax" minlength="5" maxlength="10" required>
                                                                <div *ngIf="formHumidex.controls['goodMax'].invalid && (formHumidex.controls['goodMax'].dirty || formHumidex.controls['goodMax'].touched)" class="alert alert-danger">
                                                                    <div *ngIf="formHumidex.controls['goodMax'].errors.required">
                                                                        Good Max is required.
                                                                    </div>
                                                                    <div *ngIf="formHumidex.controls['goodMax'].errors.minlength">
                                                                        Good Max must be at least 5 characters long.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <!-- <input name="goodColor" type="text" class="form-control" id="exampleFormControlInput1" value="{{post.goodColor}}" formControlName="goodColor" [ngClass]="{ 'is-invalid': submitted && fhumidex.goodColor.errors }">
                                                      <div *ngIf="submittedHumidex && fhumidex.goodColor.errors" class="invalid-feedback">
                                                          <div *ngIf="fhumidex.goodColor.errors.required">goodColor Number is required</div>
                                                      </div> -->
                                                                <input name="goodColor" type="text" class="form-control" id="exampleFormControlInput1" formControlName="goodColor" minlength="7" maxlength="7" required>
                                                                <div *ngIf="formHumidex.controls['goodColor'].invalid && (formHumidex.controls['goodColor'].dirty || formHumidex.controls['goodColor'].touched)" class="alert alert-danger">
                                                                    <div *ngIf="formHumidex.controls['goodColor'].errors.required">
                                                                        Good Color is required.
                                                                    </div>
                                                                    <div *ngIf="formHumidex.controls['goodColor'].errors.minlength">
                                                                        Good Color must be at least 7 characters long.
                                                                    </div>

                                                                    <div *ngIf="formHumidex.controls['goodColor'].invalid">
                                                                        Good Color is Invalid
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <!-- <input name="normalMin" type="number" class="form-control" id="exampleFormControlInput1" value="{{post.normalMin}}" formControlName="normalMin" [ngClass]="{ 'is-invalid': submitted && fhumidex.normalMin.errors }">
                                                      <div *ngIf="submittedHumidex && fhumidex.normalMin.errors" class="invalid-feedback">
                                                          <div *ngIf="fhumidex.normalMin.errors.required">normalMin Number is required</div>
                                                      </div> -->
                                                                <input name="normalMin" type="number" class="form-control" id="exampleFormControlInput1" formControlName="normalMin" minlength="5" maxlength="10" required>
                                                                <div *ngIf="formHumidex.controls['normalMin'].invalid && (formHumidex.controls['normalMin'].dirty || formHumidex.controls['normalMin'].touched)" class="alert alert-danger">
                                                                    <div *ngIf="formHumidex.controls['normalMin'].errors.required">
                                                                        Normal Min is required.
                                                                    </div>
                                                                    <div *ngIf="formHumidex.controls['normalMin'].errors.minlength">
                                                                        Normal Min must be at least 5 characters long.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <!-- <input name="normalMax" type="number" class="form-control" id="exampleFormControlInput1" value="{{post.normalMax}}" formControlName="normalMax" [ngClass]="{ 'is-invalid': submitted && fhumidex.normalMax.errors }">
                                                      <div *ngIf="submittedHumidex && fhumidex.normalMax.errors" class="invalid-feedback">
                                                          <div *ngIf="fhumidex.normalMax.errors.required">normalMax Number is required</div>
                                                      </div> -->
                                                                <input name="normalMax" type="number" class="form-control" id="exampleFormControlInput1" formControlName="normalMax" minlength="5" maxlength="10" required>
                                                                <div *ngIf="formHumidex.controls['normalMax'].invalid && (formHumidex.controls['normalMax'].dirty || formHumidex.controls['normalMax'].touched)" class="alert alert-danger">
                                                                    <div *ngIf="formHumidex.controls['normalMax'].errors.required">
                                                                        Normal Max is required.
                                                                    </div>
                                                                    <div *ngIf="formHumidex.controls['normalMax'].errors.minlength">
                                                                        Normal Max must be at least 5 characters long.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <!-- <input name="normalColor" type="text" class="form-control" id="exampleFormControlInput1" value="{{post.normalColor}}" formControlName="normalColor" [ngClass]="{ 'is-invalid': submitted && fhumidex.normalColor.errors }">
                                                      <div *ngIf="submittedHumidex && fhumidex.normalColor.errors" class="invalid-feedback">
                                                          <div *ngIf="fhumidex.normalColor.errors.required">normalColor Number is required</div>
                                                      </div> -->
                                                                <input name="normalColor" type="text" class="form-control" id="exampleFormControlInput1" formControlName="normalColor" minlength="7" maxlength="7" required>
                                                                <div *ngIf="formHumidex.controls['normalColor'].invalid && (formHumidex.controls['normalColor'].dirty || formHumidex.controls['normalColor'].touched)" class="alert alert-danger">
                                                                    <div *ngIf="formHumidex.controls['normalColor'].errors.required">
                                                                        Normal Color is required.
                                                                    </div>
                                                                    <div *ngIf="formHumidex.controls['normalColor'].errors.minlength">
                                                                        Normal Color must be at least 7 characters long.
                                                                    </div>
                                                                    <div *ngIf="formHumidex.controls['normalColor'].invalid">
                                                                        Normal Color is Invalid
                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <!-- <input name="notGoodMin" type="number" class="form-control" id="exampleFormControlInput1" value="{{post.notGoodMin}}" formControlName="notGoodMin" [ngClass]="{ 'is-invalid': submitted && fhumidex.notGoodMin.errors }">
                                                      <div *ngIf="submittedHumidex && fhumidex.notGoodMin.errors" class="invalid-feedback">
                                                          <div *ngIf="fhumidex.notGoodMin.errors.required">notGoodMin Number is required</div>
                                                      </div> -->
                                                                <input name="notGoodMin" type="number" class="form-control" id="exampleFormControlInput1" formControlName="notGoodMin" minlength="5" maxlength="10" required>
                                                                <div *ngIf="formHumidex.controls['notGoodMin'].invalid && (formHumidex.controls['notGoodMin'].dirty || formHumidex.controls['notGoodMin'].touched)" class="alert alert-danger">
                                                                    <div *ngIf="formHumidex.controls['notGoodMin'].errors.required">
                                                                        Not Good Min is required.
                                                                    </div>
                                                                    <div *ngIf="formHumidex.controls['notGoodMin'].errors.minlength">
                                                                        Not Good Min must be at least 5 characters long.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <!-- <input name="notGoodMax" type="number" class="form-control" id="exampleFormControlInput1" value="{{post.notGoodMax}}" formControlName="notGoodMax" [ngClass]="{ 'is-invalid': submitted && fhumidex.notGoodMax.errors }">
                                                      <div *ngIf="submittedHumidex && fhumidex.notGoodMax.errors" class="invalid-feedback">
                                                          <div *ngIf="fhumidex.notGoodMax.errors.required">notGoodMax Number is required</div>
                                                      </div> -->
                                                                <input name="notGoodMax" type="number" class="form-control" id="exampleFormControlInput1" formControlName="notGoodMax" minlength="5" maxlength="10" required>
                                                                <div *ngIf="formHumidex.controls['notGoodMax'].invalid && (formHumidex.controls['notGoodMax'].dirty || formHumidex.controls['notGoodMax'].touched)" class="alert alert-danger">
                                                                    <div *ngIf="formHumidex.controls['notGoodMax'].errors.required">
                                                                        Not Good Max is required.
                                                                    </div>
                                                                    <div *ngIf="formHumidex.controls['notGoodMax'].errors.minlength">
                                                                        Not Good Max must be at least 5 characters long.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <!-- <input name="notGoodColor" type="text" class="form-control" id="exampleFormControlInput1" value="{{post.notGoodColor}}" formControlName="notGoodColor" [ngClass]="{ 'is-invalid': submitted && fhumidex.notGoodColor.errors }">
                                                      <div *ngIf="submittedHumidex && fhumidex.notGoodColor.errors" class="invalid-feedback">
                                                          <div *ngIf="fhumidex.notGoodColor.errors.required">notGoodColor Number is required</div>
                                                      </div> -->
                                                                <input name="notGoodColor" type="text" class="form-control" id="exampleFormControlInput1" formControlName="notGoodColor" minlength="7" maxlength="7" required>
                                                                <div *ngIf="formHumidex.controls['notGoodColor'].invalid && (formHumidex.controls['notGoodColor'].dirty || formHumidex.controls['notGoodColor'].touched)" class="alert alert-danger">
                                                                    <div *ngIf="formHumidex.controls['notGoodColor'].errors.required">
                                                                        Not Good Color is required.
                                                                    </div>
                                                                    <div *ngIf="formHumidex.controls['notGoodColor'].errors.minlength">
                                                                        Not Good Color must be at least 5 characters long.
                                                                    </div>
                                                                    <div *ngIf="formHumidex.controls['notGoodColor'].invalid">
                                                                        Not Good Color is Invalid
                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <!-- <input name="badMin" type="number" class="form-control" id="exampleFormControlInput1" value="{{post.badMin}}" formControlName="badMin" [ngClass]="{ 'is-invalid': submitted && fhumidex.badMin.errors }">
                                                      <div *ngIf="submittedHumidex && fhumidex.badMin.errors" class="invalid-feedback">
                                                          <div *ngIf="fhumidex.badMin.errors.required">badMin Number is required</div>
                                                      </div> -->
                                                                <input name="badMin" type="number" class="form-control" id="exampleFormControlInput1" formControlName="badMin" minlength="5" maxlength="10" required>
                                                                <div *ngIf="formHumidex.controls['badMin'].invalid && (formHumidex.controls['badMin'].dirty || formHumidex.controls['badMin'].touched)" class="alert alert-danger">
                                                                    <div *ngIf="formHumidex.controls['badMin'].errors.required">
                                                                        Bad Min is required.
                                                                    </div>
                                                                    <div *ngIf="formHumidex.controls['badMin'].errors.minlength">
                                                                        Bad Min must be at least 5 characters long.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <!-- <input name="badMax" type="number" class="form-control" id="exampleFormControlInput1" value="{{post.badMax}}" formControlName="badMax" [ngClass]="{ 'is-invalid': submitted && fhumidex.badMax.errors }">
                                                      <div *ngIf="submittedHumidex && fhumidex.badMax.errors" class="invalid-feedback">
                                                          <div *ngIf="fhumidex.badMax.errors.required">badMax Number is required</div>
                                                      </div> -->
                                                                <input name="badMax" type="number" class="form-control" id="exampleFormControlInput1" formControlName="badMax" minlength="5" maxlength="10" required>
                                                                <div *ngIf="formHumidex.controls['badMax'].invalid && (formHumidex.controls['badMax'].dirty || formHumidex.controls['badMax'].touched)" class="alert alert-danger">
                                                                    <div *ngIf="formHumidex.controls['badMax'].errors.required">
                                                                        Bad Max is required.
                                                                    </div>
                                                                    <div *ngIf="formHumidex.controls['badMax'].errors.minlength">
                                                                        Bad Max must be at least 5 characters long.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <!-- <input name="badColor" type="text" class="form-control" id="exampleFormControlInput1" value="{{post.badColor}}" formControlName="badColor" [ngClass]="{ 'is-invalid': submitted && fhumidex.badColor.errors }">
                                                      <div *ngIf="submittedHumidex && fhumidex.badColor.errors" class="invalid-feedback">
                                                          <div *ngIf="fhumidex.badColor.errors.required">badColor Number is required</div>
                                                      </div> -->
                                                                <input name="badColor" type="text" class="form-control" id="exampleFormControlInput1" formControlName="badColor" minlength="7" maxlength="7" required>
                                                                <div *ngIf="formHumidex.controls['badColor'].invalid && (formHumidex.controls['badColor'].dirty || formHumidex.controls['badColor'].touched)" class="alert alert-danger">
                                                                    <div *ngIf="formHumidex.controls['badColor'].errors.required">
                                                                        Bad Color is required.
                                                                    </div>
                                                                    <div *ngIf="formHumidex.controls['badColor'].errors.minlength">
                                                                        Bad Color must be at least 7 characters long.
                                                                    </div>
                                                                    <div *ngIf="formHumidex.controls['badColor'].invalid">
                                                                        Bad Color is Invalid
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- <button type="submit" [disabled]="formHumidex.invalid" class="submitBtn">Save Data</button> -->
                                                        <button type="submit">Save Data</button>
                                                    </form>
                                                    <!-- <div >
                                         <p><strong>{{post.costFactorInDollar}}</strong></p>
                                         <p><strong>{{post.heatMapRadius}}</strong></p>
                                         <p><strong>{{post.PIRMAX}}</strong></p>
                                         <p><strong>{{post.PWMAX}}</strong></p>
                                         <p><strong>{{post.CTMAX}}</strong></p>
                                         <p><strong>{{post.AQMAX}}</strong></p>
                                         <p><strong>{{post.ALMAX}}</strong></p>
                                         <p><strong>{{post.TEMPMAX}}</strong></p>
                                         <p><strong>{{post.HUMMAX}}</strong></p>
                                         </div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- HeatmapUnitConfig -->
                                <div class="mainContent" *ngIf="showHeatmap">
                                    <img src="../../assets/inProgress.jpg" alt="image" width="987" class="img-responsive">
                                    <!-- <div class="card">
                            <div class="card-header">Heatmap Unit Config</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group" id="fieldName">
                                            <p><strong>Temperature</strong></p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <form [formGroup]="formHeatmap" (ngSubmit)="onSubmitHeatmap(formHeatmap.value)">
                                            <div *ngFor="let postHeatmap of _postArrayHeatmap">
                                                <div class="form-group">
                                                    <select class="form-control" id="exampleFormControlInput1" (change)="selectChangeHandler($event)" name="temperature" formControlName="temperature">
                                                        <option>{{postHeatmap.temperature}}</option>
                                                        <option>{{getTemperatureValue}}</option>
                                                      </select>
                                                </div>

                                                <p><span>You selected: </span><b>{{selectedDay}}</b></p>
                                            </div>
                                            <button type="submit">Save Data</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /#page-content-wrapper -->

            </div>

        </div>
    </div>
    <!-- /#wrapper -->
