.card-body button,
.modal-footer button {
    border: 1px solid #fff;
    border-radius: 10px;
    background: #1b1b1d;
    font-weight: 600;
    padding: .5rem 1rem;
    cursor: pointer;
    outline: none;
    margin: .5rem;
    color: #fff;
}

.card-body button:hover {
    color: blue;
}

.card-body button:active,
.card-body button:focus {
    background-color: #1b1b1d;
    border-color: transparent;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}