/* You can add global styles to this file, and also import other style files */

.navbar {
    padding: 0 1rem;
}

#removePadding {
    padding-left: 80px;
}

.h2,
h2 {
    font-size: .8rem;
}

p {
    margin-bottom: 0rem;
}

#fieldName {
    display: block;
    width: 100%;
    padding: .340rem .75rem;
    font-size: .7rem;
    line-height: 1.5;
    color: #495057;
    /* background-color: #fff; */
    background-clip: padding-box;
    margin-bottom: .5rem;
    /* border: 1px solid #ced4da;
border-radius: .25rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
}

.form-control {
    padding: .275rem .75rem;
    font-size: .7rem;
}

.form-group {
    margin-bottom: .5rem;
}

.btn-primary {
    font-size: .75rem;
}

.leftMargin {
    margin: 0 1rem 0 2rem;
}

.leftMargin p {
    display: inline-block;
    margin-left: 1rem;
}

.leftMargin::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #495057;
}

.submitBtn {
    cursor: pointer
}

.submitBtn:disabled {
    cursor: not-allowed;
}

body {
    position: relative;
    overflow-x: hidden;
}

body,
html {
    height: 100%;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background-color: transparent;
}


/*-------------------------------*/


/*           Wrappers            */


/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    /* padding-left: 220px; */
}

#sidebar-wrapper {
    z-index: 1000;
    left: 0px;
    width: 0;
    height: 42.5rem;
    /* margin-left: -220px; */
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#wrapper.toggled #sidebar-wrapper {
    /* width: 220px;
    height: 42.5rem; */
}

#page-content-wrapper {
    width: 100%;
    /* padding-top: 70px;
    position: absolute;
    top: 0; */
}

#wrapper.toggled #page-content-wrapper {
    /* position: absolute; */
    /* margin-right: -220px;
    position: absolute;
    top: 0; */
}


/*-------------------------------*/


/*     Sidebar nav styles        */


/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    /* top: 0; */
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;
}


/* .sidebar-nav li:first-child button {
color: #fff;
background-color: #1a1a1a;
} */

.sidebar-nav li:nth-child(1):before {
    background-color: #c6ec1b;
}

.sidebar-nav li:nth-child(2):before {
    background-color: #ec1b5a;
}

.sidebar-nav li:nth-child(3):before {
    background-color: #79aefe;
}

.sidebar-nav li:nth-child(4):before {
    background-color: #314190;
}

.sidebar-nav li:nth-child(5):before {
    background-color: #279636;
}

.sidebar-nav li:nth-child(6):before {
    background-color: #7d5d81;
}

.sidebar-nav li:nth-child(7):before {
    background-color: #ead24c;
}

.sidebar-nav li:nth-child(8):before {
    background-color: #2d2366;
}

.sidebar-nav li:nth-child(9):before {
    background-color: #35acdf;
}

.sidebar-nav li:nth-child(10):before {
    background-color: #38ca5d;
}

.sidebar-nav li:nth-child(11):before {
    background-color: #df3584;
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;
}

.sidebar-nav li,
.sidebar-nav li button {
    cursor: pointer;
    outline: none;
}


/* .sidebar-nav li button {
display: block;
color: #ddd;
text-decoration: none;
padding: 10px 15px 10px 30px;
background: transparent;
border: transparent;
outline: none;
} */

.card-button {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 16px 10px 30px;
    text-align: left;
    background: transparent;
    border: transparent;
    outline: none;
}


/* .sidebar-nav li button:hover,
.sidebar-nav li button:active,
.sidebar-nav li button:focus,
.sidebar-nav li.open button:hover,
.sidebar-nav li.open button:active,
.sidebar-nav li.open button:focus {
color: #fff;
text-decoration: none;
background-color: transparent;

} */

.button-active {
    width: 100%;
    color: #000;
    text-decoration: none;
    background-color: rgb(255, 217, 0);
}

.button-standard {
    width: 100%;
    color: #fff;
}


/* .sidebar-nav li.open button:active,
.sidebar-nav li button:active {
width: 100%;
color: #fff;
text-decoration: none;
background-color: red;
} */

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}


/*-------------------------------*/


/*       Hamburger-Cross         */


/*-------------------------------*/

.hamburger {
    display: none;
    position: fixed;
    top: 75px;
    z-index: 999;
    /* display: block; */
    width: 32px;
    height: 32px;
    margin-left: 15px;
    background: transparent;
    border: none;
}

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
    outline: none;
}

.hamburger.is-closed:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
    background-color: #1a1a1a;
}

.hamburger.is-closed .hamb-top {
    top: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-middle {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-closed .hamb-bottom {
    bottom: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
    top: -2px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-bottom {
    bottom: -2px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    background-color: #1a1a1a;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open .hamb-middle {
    display: none;
}

.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}


/*-------------------------------*/


/*            Overlay            */


/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250, 250, 250, .8);
    z-index: 1;
}

.removePaddingDiv {
    padding-left: 0px;
    background: #1a1a1a;
    height: 44rem;
}

.row {
    /* margin-right: 0px; */
}

.h2,
h2 {
    font-size: .8rem;
}

.card-body button,
.modal-footer button {
    border: 3px solid #e4e681;
    border-radius: 10px;
    background: #c7ca30;
    font-weight: 600;
    padding: .5rem 1rem;
    cursor: pointer;
    outline: none;
}


/* .card-body button:after {
    content: "";
    position: absolute;
    width: 23%;
    bottom: 0px;
    left: 14px;
    z-index: 0;
    -webkit-transform: scale(.9);
    transform: scale(.9);
    box-shadow: 0px 0px 8px 2px #000000;
} */

.card-body button:hover {
    border: 3px solid #c7ca30;
    background: #e4e681;
}

.ng-invalid {
    /* border: 1px solid red; */
}

.list-unstyled li {
    margin-bottom: 1rem;
}

.mr-3 {
    border: 4px solid #a0b2c3;
    border-radius: 5px;
    filter: drop-shadow(0 0 0.5rem #535353);
}

.mr-3:after {
    content: "";
    position: absolute;
    width: 23%;
    bottom: 0px;
    left: 14px;
    z-index: 0;
    -webkit-transform: scale(.9);
    transform: scale(.9);
    box-shadow: 0px 0px 8px 2px #000000;
}


/* LOADER */

.loader {
    position: absolute;
    left: 50%;
    top: 15rem;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid blue;
    border-bottom: 10px solid blue;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.columns-parent {
    display: table;
    width: 100%;
}

.my-column {
    display: table-cell;
}

.saveData {
    float: right;
}

.resetData {
    margin-left: 1rem;
    float: left;
    float: right;
}

.ValidAddress {
    font-size: .75rem;
    color: red;
    font-weight: 100;
}

button .close {
    outline: none;
}

#NotEditableFieldHeading {
    border: transparent;
    background: transparent;
    font-size: .70rem;
    font-weight: 700;
    cursor: default;
}

#NotEditableFieldHeading:focus {
    outline: 0;
    box-shadow: transparent;
}

#NotEditableFieldDesc {
    border: transparent;
    background: transparent;
    font-size: .70rem;
    font-weight: 400;
    cursor: default;
}

#NotEditableFieldDesc:focus {
    outline: 0;
    box-shadow: transparent;
}


/* BACNET PAGES CSS */

.jumbotron {
    margin-top: 1rem;
    padding: 0px;
    background: transparent;
}

.display-4 {
    font-size: 1.5rem;
}

.btn-outline-primary {
    margin-right: 1rem;
}

.btn {
    padding: 1px 11px;
}

.card {
    margin-bottom: 1rem
}

.tooltip-example {
    text-align: left;
    padding: 0 50px;
}

.tooltip-example [tooltip] {
    display: inline-block;
    margin: 10px 20px;
    width: 180px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 5px;
    line-height: 50px;
    text-align: left;
}

.ng-tooltip {
    position: absolute;
    max-width: 20rem;
    font-size: 14px;
    text-align: left;
    color: #f8f8f2;
    padding: 3px 8px;
    background: #282a36;
    border-radius: 4px;
    z-index: 1000;
    opacity: 0;
}

.ng-tooltip:after {
    content: "";
    position: absolute;
    border-style: solid;
}

.ng-tooltip-top:after {
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: black transparent transparent transparent;
}

.ng-tooltip-bottom:after {
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: transparent transparent black transparent;
}

.ng-tooltip-left:after {
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent transparent transparent black;
}

.ng-tooltip-right:after {
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent black transparent transparent;
}

.ng-tooltip-show {
    opacity: 1;
}


/* Footer */

h6 {
    font-size: .8rem;
    padding-top: .5rem;
}

.bacnetVersion {
    float: right;
}

#exampleFormControlInput1 {
    margin-right: 1rem;
}

.custom-dropdown--large {
    font-size: 1rem;
    outline: none;
}

.custom-dropdown--small {
    font-size: .7rem;
    outline: none;
}

.custom-dropdown__select {
    font-size: inherit;
    /* inherit size from .custom-dropdown */
    font-size: .7rem;
    padding: .3rem;
    /* add some space*/
    margin: 0;
    /* remove default margins */
}

.custom-dropdown__select--white {
    background-color: #fff;
    color: #444;
}

.custom-dropdown__select--emerald {
    background-color: #20b390;
    color: #fff;
}

.custom-dropdown__select--red {
    background-color: #1d1d1b;
    color: #fff;
    outline: none;
}

option {
    /* background: red; */
}

.inputText {
    padding: .3rem .5rem;
    font-size: .7rem;
}

.jumbotron {
    margin-top: 1rem;
    padding: 0px;
    background: transparent;
}

.display-4 {
    font-size: 1.5rem;
}

.btn-outline-primary {
    margin-right: 1rem;
}

.btn {
    padding: 1px 11px;
}

.card {
    margin-bottom: 1rem
}

.tooltip-example {
    text-align: left;
    padding: 0 50px;
}

.tooltip-example [tooltip] {
    display: inline-block;
    margin: 10px 20px;
    width: 180px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 5px;
    line-height: 50px;
    text-align: left;
}

.ng-tooltip {
    position: absolute;
    max-width: 20rem;
    font-size: 14px;
    text-align: left;
    color: #f8f8f2;
    padding: 3px 8px;
    background: #282a36;
    border-radius: 4px;
    z-index: 1000;
    opacity: 0;
}

.ng-tooltip:after {
    content: "";
    position: absolute;
    border-style: solid;
}

.ng-tooltip-top:after {
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: black transparent transparent transparent;
}

.ng-tooltip-bottom:after {
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: transparent transparent black transparent;
}

.ng-tooltip-left:after {
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent transparent transparent black;
}

.ng-tooltip-right:after {
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent black transparent transparent;
}

.ng-tooltip-show {
    opacity: 1;
}

.table thead th,
.table td,
.table th {
    border-bottom: 2px solid transparent;
}


/* Footer */

h6 {
    font-size: .8rem;
    padding-top: .5rem;
}

.bacnetVersion {
    float: right;
}

#exampleFormControlInput1 {
    margin-right: 1rem;
    font-size: .8rem;
}

.custom-dropdown--large {
    font-size: 1rem;
    outline: none;
}

.custom-dropdown--small {
    font-size: .7rem;
    outline: none;
}

.custom-dropdown__select {
    font-size: inherit;
    /* inherit size from .custom-dropdown */
    font-size: .7rem;
    padding: .3rem;
    /* add some space*/
    margin: 0;
    /* remove default margins */
}

.custom-dropdown__select--white {
    background-color: #fff;
    color: #444;
}

.custom-dropdown__select--emerald {
    background-color: #20b390;
    color: #fff;
}

.custom-dropdown__select--red {
    background-color: #1d1d1b;
    color: #fff;
    outline: none;
    border-radius: .2rem;
    width: 100%;
}

option {
    /* background: red; */
}

.inputText {
    padding: .3rem .5rem;
    font-size: .7rem;
}

strong {
    font-size: .8rem;
}

.card-body {
    padding: 0 0.9rem
    /* padding:0rem; */
}

.addBorderBottom {
    /* border-bottom: 1px solid red; */
    border-bottom: 1px solid rgba(0, 0, 0, .125)
}

.contentBorder {
    /* border-bottom: 1px solid red; */
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    /* margin-top: .5rem; */
}

.contentBorder:last-child {
    border-bottom: 1px solid transparent;
}

.contentBorder:nth-child(even) {
    background: rgba(0, 0, 0, .125);
}

.borderBottomField {
    /* border-right:1px solid rgba(0,0,0,.125); */
    margin: .7rem;
    font-size: .8rem
}

.borderBottomField1 {
    /* border-right:1px solid rgba(0,0,0,.125); */
    margin: .7rem;
    font-size: .8rem
}

.container {
    display: inline;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default radio button */

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom radio button */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1rem;
    width: 1rem;
    background-color: #1b1b1d;
    ;
    border-radius: 50%;
}


/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
    background-color: #ccc;
}


/* When the radio button is checked, add a blue background */

.container input:checked~.checkmark {
    background-color: #2196F3;
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator (dot/circle) when checked */

.container input:checked~.checkmark:after {
    display: block;
}


/* Style the indicator (dot/circle) */

.container .checkmark:after {
    top: .2rem;
    left: .2rem;
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    background: white;
}

.btn-outline-primary.focus,
.btn-outline-primary:focus,
.btn-outline-secondary.focus,
.btn-outline-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

.rightBorder {
    border-right: 1px solid rgba(0, 0, 0, .125);
}

#fieldName {
    font-size: 0.8rem;
}



/* based on angular-toastr css https://github.com/Foxandxss/angular-toastr/blob/cb508fe6801d6b288d3afc525bb40fee1b101650/dist/angular-toastr.css */

/* position */
.toast-center-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .toast-top-center {
    top: 0;
    right: 0;
    width: 100%;
  }
  .toast-bottom-center {
    bottom: 0;
    right: 0;
    width: 100%;
  }
  .toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%;
  }
  .toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%;
  }
  .toast-top-left {
    top: 12px;
    left: 12px;
  }
  .toast-top-right {
    top: 12px;
    right: 12px;
  }
  .toast-bottom-right {
    right: 12px;
    bottom: 12px;
  }
  .toast-bottom-left {
    bottom: 12px;
    left: 12px;
  }
  
  /* toast styles */
  .toast-title {
    font-weight: bold;
  }
  .toast-message {
    word-wrap: break-word;
  }
  .toast-message a,
  .toast-message label {
    color: #FFFFFF;
  }
  .toast-message a:hover {
    color: #CCCCCC;
    text-decoration: none;
  }
  .toast-close-button {
    position: relative;
    right: -0.3em;
    top: -0.3em;
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #ffffff;
    /* opacity: 0.8; */
  }
  .toast-close-button:hover,
  .toast-close-button:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
  }
  /*Additional properties for button version
   iOS requires the button element instead of an anchor tag.
   If you want the anchor version, it requires `href="#"`.*/
  button.toast-close-button {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
  }
  .toast-container {
    pointer-events: none;
    position: fixed;
    z-index: 999999;
  }
  .toast-container * {
    box-sizing: border-box;
  }
  .toast-container .ngx-toastr {
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
    border-radius: 3px 3px 3px 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 24px;
    box-shadow: 0 0 12px #999999;
    color: #FFFFFF;
  }
  .toast-container .ngx-toastr:hover {
    box-shadow: 0 0 12px #000000;
    opacity: 1;
    cursor: pointer;
  }
  /* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/info-circle.svg */
  .toast-info {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z'/%3E%3C/svg%3E");
  }
  /* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/times-circle.svg */
  .toast-error {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z'/%3E%3C/svg%3E");
  }
  /* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/check.svg */
  .toast-success {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3E%3C/svg%3E");
  }
  /* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/exclamation-triangle.svg */
  .toast-warning {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' width='576' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z'/%3E%3C/svg%3E");
  }
  .toast-container.toast-top-center .ngx-toastr,
  .toast-container.toast-bottom-center .ngx-toastr {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .toast-container.toast-top-full-width .ngx-toastr,
  .toast-container.toast-bottom-full-width .ngx-toastr {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
  }
  .ngx-toastr {
    background-color: #030303;
    pointer-events: auto;
  }
  .toast-success {
    background-color: #51A351;
  }
  .toast-error {
    background-color: #BD362F;
  }
  .toast-info {
    background-color: #2F96B4;
  }
  .toast-warning {
    background-color: #F89406;
  }
  .toast-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: #000000;
    opacity: 0.4;
  }
  /* Responsive Design */
  @media all and (max-width: 240px) {
    .toast-container .ngx-toastr.div {
      padding: 8px 8px 8px 50px;
      width: 11em;
    }
    .toast-container .toast-close-button {
      right: -0.2em;
      top: -0.2em;
    }
  }
  @media all and (min-width: 241px) and (max-width: 480px) {
    .toast-container .ngx-toastr.div {
      padding: 8px 8px 8px 50px;
      width: 18em;
    }
    .toast-container .toast-close-button {
      right: -0.2em;
      top: -0.2em;
    }
  }
  @media all and (min-width: 481px) and (max-width: 768px) {
    .toast-container .ngx-toastr.div {
      padding: 15px 15px 15px 50px;
      width: 25em;
    }
  }