label {
    display: block;
}

.boldMessage {
    font-weight: 800;
    color: red;
}

.normalMessage {}

.addBorderBottom {
    /* border-bottom: 1px solid red; */
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    margin-bottom: 2rem;
}

.checkmark {
    top: 5px;
}

#fieldName {
    display: inline;
}