<div class="container-fluid" *ngIf="isDataAvailable == false">
    <div class="row">
        <div class="col-sm-12">
            <div class="loader"></div>
        </div>
    </div>
</div>

<div class="jumbotron" *ngIf="isDataAvailable == true">
    <div class="row">
        <div class="col-sm-10">
            <h3 class="display-4">{{title}}</h3>
        </div>
        <div class="col-sm-2">
            <!-- <button type="button" class="btn btn-outline-primary" (click)="submitCommunicationComp()">Save</button>
            <button type="button" class="btn btn-outline-secondary" (click)="cancel()">Reset</button> -->
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div tooltip="This panel is used to enable or disable debug logs in log file." placement="right" delay="500" style="cursor:pointer; display: inline-block;">
                        <!-- <div tooltip="This panel is used to configure BACnet Password if checkbox is checked otherwise it is optional field." placement="right" delay="500"> -->
                        <span style="background:transparent">Default Configuration
                          <!-- <i class="fa fa-info-circle" aria-hidden="true"></i> -->
                        </span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="mainContent">
                        <div class="row addBorderBottom">
                            <div class="col-sm-3">
                                <div class="form-group" id="fieldName" class="borderBottomField">
                                    <!-- <p><strong>Debug Log</strong></p> -->
                                </div>
                            </div>
                                <div class="borderBottomField1">
                                    <label class="container"> Set Configuration as Default
                                            <input type="radio" [checked]="setConfigurationVal==true" name="radio">
                                            <span class="checkmark" (click)="configClicked('setConfiguration')"></span>
                                        </label>
                                    <label class="container"> Restore Default Configuration
                                            <input type="radio" [checked]="restoreConfigurationVal == true" name="radio">
                                            <span class="checkmark" (click)="configClicked('defaultConfiguration')"></span>
                                        </label>
                                </div>
                            <div class="col-sm-3">
                                <div class="form-group" id="fieldName" class="borderBottomField">
                                    <!-- <p><strong>Debug Log</strong></p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="background-color:#f9f9f9">
        <div class="col-sm-10">
            <h6><b>© Copyright 2019<span style="color:red"> molex, LLC.</span></b> All rights reserved.</h6>
        </div>
        <div class="col-sm-2">
            <h6 class="bacnetVersion">Version 1.2.0.0</h6>
        </div>
    </div>

</div>
