nav {
    z-index: 9999;
    margin: 0px;
    padding: 0 1rem;
}

.navbar-nav a {
    /* background: #000;
    color: #fff; */
    padding: 1rem 1rem;
    outline: none;
}

.navbar-nav a:hover,
.navbar-nav a:active,
.navbar-nav a:focus {
    background: rgba(0, 0, 0, .1);
    color: #fff;
    padding: 1rem 1rem;
    outline: none;
}

ul {
    margin: 0;
    list-style-type: none;
    position: absolute;
    right: 2rem;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    left: -4rem;
    top: 95%;
    background: #343a40;
}

#utilityLogout {
    color: #fff;
}

.show {
    display: block
}

.hide {
    display: none
}