<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="#">
        <img src="../../assets/molex-logo.png" alt="image" width="60" class="img-responsive">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/dashboard">DashBoard <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" routerLink="/ApiComponent">API</a>
            <a class="nav-item nav-link" routerLink="/bacnet">BACnet</a>


            <!-- <ul>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Logout
              </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" id="utilityLogout" href="#">{{dashName}}</a>
                        <a class="dropdown-item" id="utilityLogout" href="#" [ngClass]="[apiName == 'API' ? 'show' : 'hide']">{{apiName}}</a>
                        <a class="dropdown-item" id="utilityLogout" href="#">Something else here</a>
                    </div>
                </li>
                <button (click)="logoutAPI()">dfsfsfsf</button>
            </ul> -->
        </div>
    </div>
</nav>