.nav-tabs {
    font-size: .7rem;
    border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    cursor: default;
}

.nav-link {
    cursor: pointer;
}

.card-body button, .modal-footer button{
    font-size:.8rem;
    padding: .2rem .5rem;
}