<div class="container-fluid" *ngIf="isDataAvailable == false">
    <div class="row">
        <div class="col-sm-12">
            <div class="loader"></div>
        </div>
    </div>
</div>

<div class="jumbotron" *ngIf="isDataAvailable == true">
    <div class="row">
        <div class="col-sm-10">
            <h3 class="display-4">{{title}}</h3>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-outline-primary" (click)="submitBroadcastComp()">Save</button>
            <button type="button" class="btn btn-outline-secondary" (click)="cancel()">Reset</button>
        </div>
    </div>
    <form [formGroup]="formBroadcast">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div tooltip="This panel is used to enable or disable BBMD Support and FD Registration settings." placement="right" delay="500" style="cursor:pointer; display: inline-block;">
                            <!-- <div tooltip="This panel is used to configure BACnet Password if checkbox is checked otherwise it is optional field." placement="right" delay="500"> -->
                            <span style="background:transparent">Broadcast Settings  <i class="fa fa-info-circle" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="mainContent">
                            <div class="row">
                                <div class="col-sm-6 rightBorder" style="padding : 0px">
                                    <div class="form-group" id="fieldName" class="borderBottomField">
                                        <p><strong>BBMD</strong></p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="borderBottomField1">
                                        <label class="container"> Enable
                                            <input type="radio" [checked]="showBBMD==true" name="radio">
                                            <span class="checkmark" (click)="toggleBBMDShow(true)"></span>
                                        </label>
                                        <label class="container"> Disable
                                            <input type="radio" [checked]="showBBMD == false" name="radio">
                                            <span class="checkmark" (click)="toggleBBMDShow(false)"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <nav>
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link" id="nav-home-tab" (click)="showBBMD = true" aria-selected="false" [ngClass]="[showBBMD == false ? 'nav-link' : 'active']">BBMD Support</a>
                                            <a class="nav-item nav-link" id="nav-profile-tab" (click)="showBBMD = false" aria-selected="true" [ngClass]="[showBBMD == true ? 'nav-link' : 'active']">FD Registration</a>
                                        </div>
                                    </nav>
                                    <div class="tab-content" id="nav-tabContent">
                                        <div id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" *ngIf="showBBMD == false">
                                            <div class="row">
                                                <div class="col-sm-6 rightBorder" style="padding : 0px">
                                                    <div class="form-group" id="fieldName" class="borderBottomField">
                                                        <p><strong>IPAddress :</strong></p>
                                                    </div>
                                                    <div class="form-group" id="fieldName" class="borderBottomField">
                                                        <p><strong>Port Number :</strong></p>
                                                    </div>
                                                    <div class="form-group" id="fieldName" class="borderBottomField">
                                                        <p><strong>Time To Live(seconds) :</strong></p>
                                                    </div>
                                                    <div class="form-group" id="fieldName" class="borderBottomField">
                                                        <p><strong>FD Re-Register :</strong></p>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6" style="padding : 0px">
                                                    <!-- <form [formGroup]="formBroadcast" (ngSubmit)="onSubmitNetwork(formBroadcast.value)"> -->
                                                    <div *ngFor="let post of _postsArrayBroadcast">
                                                        <div class="form-group borderBottomField1">
                                                            <input name="FDIPAddress" type="text" class="form-control" id="exampleFormControlInput1" formControlName="FDIPAddress" required>
                                                            <!-- <div tooltip="This TextInput is used to configure the Device ID which is required for Broadcast Service." placement="left" delay="500" style="cursor:pointer; display: inline-block;">
                                                          <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                      </div> -->
                                                            <div *ngIf="formBroadcast.controls['FDIPAddress'].invalid && (formBroadcast.controls['FDIPAddress'].dirty || formBroadcast.controls['FDIPAddress'].touched)" class="alert alert-danger">
                                                                <div *ngIf="formBroadcast.controls['FDIPAddress'].errors.required">
                                                                    FDIPAddress is required.
                                                                </div>
                                                                <!-- <div *ngIf="formBroadcast.controls['FDIPAddress'].errors.minlength">
                                                                  Vendor Name must be at least 5 characters long.
                                                              </div> -->
                                                            </div>
                                                        </div>
                                                        <div class="form-group borderBottomField1">
                                                            <input name="FDUDPPort" type="text" class="form-control" id="exampleFormControlInput1" formControlName="FDUDPPort">
                                                            <!-- <div tooltip="This TextInput is used to configure the API Service URL which is required for Broadcast Service. Once done kindly click over the 'Save' before configuring the below Project Name" placement="left" delay="500" style="cursor:pointer; display: inline-block;">
                                                          <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                      </div> -->
                                                            <div *ngIf="formBroadcast.controls['FDUDPPort'].invalid && (formBroadcast.controls['FDUDPPort'].dirty || formBroadcast.controls['FDUDPPort'].touched)" class="alert alert-danger">
                                                                <div *ngIf="formBroadcast.controls['FDUDPPort'].errors.required">
                                                                    FDUDPPort is required.
                                                                </div>
                                                                <!-- <div *ngIf="formBroadcast.controls['Port'].errors.minlength">
                                                                  Model Name must be at least 5 characters long.
                                                              </div> -->
                                                            </div>
                                                        </div>

                                                        <div class="form-group borderBottomField1">
                                                            <input name="FDTimeToLive" type="text" class="form-control" id="exampleFormControlInput1" formControlName="FDTimeToLive" required>
                                                            <!-- <div tooltip="This TextInput is used to configure the API Service URL which is required for Broadcast Service. Once done kindly click over the 'Save' before configuring the below Project Name" placement="left" delay="500" style="cursor:pointer; display: inline-block;">
                                                          <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                      </div> -->
                                                            <div *ngIf="formBroadcast.controls['FDTimeToLive'].invalid && (formBroadcast.controls['FDTimeToLive'].dirty || formBroadcast.controls['FDTimeToLive'].touched)" class="alert alert-danger">
                                                                <div *ngIf="formBroadcast.controls['FDTimeToLive'].errors.required">
                                                                    FDTimeToLive is required.
                                                                </div>
                                                                <!-- <div *ngIf="formBroadcast.controls['TimeToLive'].errors.minlength">
                                                                  Model Name must be at least 5 characters long.
                                                              </div> -->
                                                            </div>
                                                        </div>

                                                        <div class="form-group borderBottomField1">
                                                            <input type="checkbox" (click)="reRegister($event)" [checked]="reRegisterDiv">
                                                            <!-- <p class="showPassword">Show Password</p> -->
                                                        </div>
                                                    </div>
                                                    <!-- </form> -->
                                                </div>
                                            </div>

                                        </div>
                                        <div id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" *ngIf="showBBMD == true">
                                            <div class="row">
                                                <div class="col-sm-3" style="padding : 0px">
                                                    <div class="form-group" id="fieldName" class="borderBottomField">
                                                        <p><strong>IPAddress</strong></p>
                                                    </div>
                                                </div>

                                                <div class="col-sm-3" style="padding : 0px">
                                                    <div class="form-group" id="fieldName" class="borderBottomField">
                                                        <p><strong>Port</strong></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3" style="padding : 0px">
                                                    <div class="form-group" id="fieldName" class="borderBottomField">
                                                        <p><strong>Broadcast Mask</strong></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3" style="padding : 0px">

                                                </div>
                                            </div>

                                            <div class="row" *ngFor="let post of optionsBdtlist">
                                                <div class="col-sm-3" style="padding : 0px">
                                                    <div class="form-group" id="fieldName" class="borderBottomField">
                                                        <p><strong>{{post.IPAddress}}</strong></p>
                                                    </div>
                                                </div>

                                                <div class="col-sm-3" style="padding: 0px">
                                                    <div>
                                                        <div id="fieldName" class="borderBottomField1">
                                                            {{post.Port}}
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-sm-3" style="padding: 0px">
                                                    <div>
                                                        <div id="fieldName" class="borderBottomField1">
                                                            {{post.BroadcastMask}}
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-sm-3" style="padding: 0px">
                                                    <button type="submit" (click)="removeLanguague(languague, i)">Remove</button>
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="col-sm-4" style="padding : 0px">
                                                    <div class="form-group" id="fieldName" class="borderBottomField">
                                                        <p><strong>IP :</strong></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4" style="padding : 0px">
                                                    <div class="form-group" id="fieldName" class="borderBottomField">
                                                        <p><strong>Port :</strong></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4" style="padding : 0px">
                                                    <div class="form-group" id="fieldName" class="borderBottomField">
                                                        <p><strong>Time To Live :</strong></p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-12" style="padding : 0px">
                                                    <!-- <form [formGroup]="formBroadcast" (ngSubmit)="onSubmitNetwork(formBroadcast.value)"> -->
                                                    <div *ngFor="let post of _postsArrayBroadcast">
                                                        <div class="row">
                                                            <div class="col-sm-4">
                                                                <!-- <div class="form-group borderBottomField1">
                                                                    <input name="FDIPAddress" type="text" class="form-control" id="exampleFormControlInput1" formControlName="FDIPAddress" required>
                                                                    <div *ngIf="formBroadcast.controls['FDIPAddress'].invalid && (formBroadcast.controls['FDIPAddress'].dirty || formBroadcast.controls['FDIPAddress'].touched)" class="alert alert-danger">
                                                                        <div *ngIf="formBroadcast.controls['FDIPAddress'].errors.required">
                                                                            FDIPAddress is required.
                                                                        </div>
                                                                    </div>
                                                                </div> -->
                                                            </div>

                                                            <div class="col-sm-4">
                                                                <div class="form-group borderBottomField1">
                                                                    <input name="FDUDPPort" type="text" class="form-control" id="exampleFormControlInput1" formControlName="FDUDPPort">
                                                                    <!-- <div tooltip="This TextInput is used to configure the API Service URL which is required for Broadcast Service. Once done kindly click over the 'Save' before configuring the below Project Name" placement="left" delay="500" style="cursor:pointer; display: inline-block;">
                                                          <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                      </div> -->
                                                                    <div *ngIf="formBroadcast.controls['FDUDPPort'].invalid && (formBroadcast.controls['FDUDPPort'].dirty || formBroadcast.controls['FDUDPPort'].touched)" class="alert alert-danger">
                                                                        <div *ngIf="formBroadcast.controls['FDUDPPort'].errors.required">
                                                                            FDUDPPort is required.
                                                                        </div>
                                                                        <!-- <div *ngIf="formBroadcast.controls['Port'].errors.minlength">
                                                                  Model Name must be at least 5 characters long.
                                                              </div> -->
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-4">
                                                                <div class="form-group borderBottomField1">
                                                                    <input name="FDTimeToLive" type="text" class="form-control" id="exampleFormControlInput1" formControlName="FDTimeToLive" required>
                                                                    <!-- <div tooltip="This TextInput is used to configure the API Service URL which is required for Broadcast Service. Once done kindly click over the 'Save' before configuring the below Project Name" placement="left" delay="500" style="cursor:pointer; display: inline-block;">
                                                          <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                      </div> -->
                                                                    <div *ngIf="formBroadcast.controls['FDTimeToLive'].invalid && (formBroadcast.controls['FDTimeToLive'].dirty || formBroadcast.controls['FDTimeToLive'].touched)" class="alert alert-danger">
                                                                        <div *ngIf="formBroadcast.controls['FDTimeToLive'].errors.required">
                                                                            FDTimeToLive is required.
                                                                        </div>
                                                                        <!-- <div *ngIf="formBroadcast.controls['TimeToLive'].errors.minlength">
                                                                  Model Name must be at least 5 characters long.
                                                              </div> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- </form> -->
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>


                                <!--
                          <div *ngFor="let post of _postsArrayBroadcast">

                              <div class="form-group borderBottomField1">
                                  <input name="BACnetPassword" type="{{typeBCT}}" class="form-control" id="exampleFormControlInput1" formControlName="BACnetPassword" required>
                                  <div *ngIf="formBroadcast.controls['BACnetPassword'].invalid && (formBroadcast.controls['BACnetPassword'].dirty || formBroadcast.controls['BACnetPassword'].touched)" class="alert alert-danger">
                                      <div *ngIf="formBroadcast.controls['BACnetPassword'].errors.required">
                                        BACnetPassword is required.
                                      </div>
                                  </div>
                              </div>

                              <input type="checkbox" (click)="toggleBCTShow()">
                              <p class="showPassword">Show Password</p>
                          </div> -->
                                <!-- </form> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </form>
    <div class="row" style="background-color:#f9f9f9">
        <div class="col-sm-10">
            <h6><b>© Copyright 2019<span style="color:red"> molex, LLC.</span></b> All rights reserved.</h6>
        </div>
        <div class="col-sm-2">
            <h6 class="bacnetVersion">Version 1.2.0.0</h6>
        </div>
    </div>

</div>
