<div class="container-fluid" *ngIf="isDataAvailable == false">
    <div class="row">
        <div class="col-sm-12">
            <div class="loader"></div>
        </div>
    </div>
</div>

<div class="jumbotron" *ngIf="isDataAvailable == true">
    <div class="row">
        <div class="col-sm-10">
            <h3 class="display-4">{{title}}</h3>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-outline-primary" (click)="submitSecurityComp()">Save</button>
            <button type="button" class="btn btn-outline-secondary" (click)="cancel()">Reset</button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div tooltip="This panel is used to set the API Communication Credentials which is required for communicating the BACnet Gateway with API." placement="right" delay="500" style="cursor:pointer; display: inline-block;">
                        <!-- <div tooltip="This panel is used to configure BACnet Password if checkbox is checked otherwise it is optional field." placement="right" delay="500"> -->
                        <span style="background:transparent">API Authentication Settings <i class="fa fa-info-circle" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="card-body">

                    <div class="mainContent">
                        <div class="row">
                            <div class="col-sm-6 rightBorder" style="padding : 0px">
                                <div class="form-group" id="fieldName" class="borderBottomField">
                                    <p><strong>UserID</strong></p>
                                </div>
                                <div class="form-group" id="fieldName" class="borderBottomField">
                                    <p><strong>Passsword :</strong></p>
                                </div>
                                <div class="form-group" id="fieldName" class="borderBottomField">
                                    <p><strong>Confirm Passsword :</strong></p>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <form [formGroup]="formSecurity" (ngSubmit)="onSubmitSecurity(formSecurity.value)">
                                    <div *ngFor="let post of _postsArraySecurity">
                                        <div class="form-group borderBottomField1">
                                            <input name="APIUserID" type="text" class="form-control" id="exampleFormControlInput2" formControlName="APIUserID" required>
                                            <div *ngIf="formSecurity.controls['APIUserID'].invalid && (formSecurity.controls['APIUserID'].dirty || formSecurity.controls['APIUserID'].touched)" class="alert alert-danger">
                                                <div *ngIf="formSecurity.controls['APIUserID'].errors.required">
                                                    APIUserID is required.
                                                </div>
                                                <!-- <div *ngIf="formSecurity.controls['APIuserID'].errors.minlength">
                                                        Vendor Name must be at least 5 characters long.
                                                    </div> -->
                                            </div>
                                        </div>
                                        <div class="form-group borderBottomField1">
                                            <input name="APIPassword" type="{{typeAPI}}" class="form-control" id="myDiv" formControlName="APIPassword" required #myDiv>
                                            <div *ngIf="formSecurity.controls['APIPassword'].invalid && (formSecurity.controls['APIPassword'].dirty || formSecurity.controls['APIPassword'].touched)" class="alert alert-danger">
                                                <div *ngIf="formSecurity.controls['APIPassword'].errors.required">
                                                    API Password is required.
                                                </div>
                                                <!-- <div *ngIf="formSecurity.controls['APIPassword'].errors.minlength">
                                                        Model Name must be at least 5 characters long.
                                                    </div> -->
                                            </div>
                                        </div>
                                        <div class="form-group borderBottomField1">
                                            <input name="APIPassword" type="{{typeAPI}}" class="form-control" id="myDiv2" formControlName="APIPassword" required #myDiv2>
                                            <div *ngIf="formSecurity.controls['APIPassword'].invalid && (formSecurity.controls['APIPassword'].dirty || formSecurity.controls['APIPassword'].touched)" class="alert alert-danger">
                                                <div *ngIf="formSecurity.controls['APIPassword'].errors.required">
                                                    API Confirm Password is required.
                                                </div>
                                                <!-- <div *ngIf="formSecurity.controls['APIPassword'].errors.minlength">
                                                        Model Name must be at least 5 characters long.
                                                    </div> -->
                                            </div>
                                        </div>
                                        <input type="checkbox" (click)="toggleAPIShow()">
                                        <p class="showPassword">Show Password</p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="background-color:#f9f9f9">
        <div class="col-sm-10">
            <h6><b>© Copyright 2019<span style="color:red"> molex, LLC.</span></b> All rights reserved.</h6>
        </div>
        <div class="col-sm-2">
            <h6 class="bacnetVersion">Version 1.2.0.0</h6>
        </div>
    </div>

</div>
