#sidebar-wrapper {
    width: 100%;
    height: 17.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    transition: all 0.5s ease;
}

#sidebar-wrapper {
    /* left: 1rem; */
    padding-left: .5rem;
}

.showDialog {
    /* left: 0rem; */
    display: block;
    transition: all .5s linear;
}

.sidebar-nav {
    /* position: absolute; */
    /* top: 24.8rem; */
}

.hideDialog {
    display: none;
    /* left: -18rem; */
    transition: all .5s linear;
}

.secondFaIcon {
    float: right;
}

.fa {
    margin-right: 1rem;
}

ul li.active+.submenu {
    display: block;
    list-style: none;
}

.submenu li {
    padding-left: 15px;
}

ul li+.submenu {
    display: none;
}

.otherTab {
    font-weight: 400;
    /* position: absolute; */
    /* top: 17.5rem; */
    font-size: .8rem;
    width: 100%;
    color: #b8c7ce;
    padding: .8rem;
    /* margin-top: 11rem; */
    background: transparent;
    background: rgb(26, 26, 26);
    cursor: pointer;
    outline: none;
}

.otherTab:nth-child(2) {
    top: 2.5rem;
}

.otherTab:hover {
    color: #fff;
    background: #0a0a0a;
}

a {
    outline: none;
}

.sidebar-nav li,
.sidebar-nav li button {
    /* padding-left: .5rem; */
    font-size: .75rem;
}

.sidebar-nav {
    top: none;
}

.popupBG,
.modal-backdrop {
    background-color: rgba(0, 0, 0, .5) !important;
}

.modal-dialog {
    /* background-color: transparent; */
    margin: 11.75rem auto;
}