<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 removePaddingDiv" style="padding-right: 0px; background: #1a1a1a;left: 0px;" [style.height.px]="myInnerHeight" *ngIf="showBacNetLoginPopUP==false">
            <!-- <div class="col-sm-2 removePaddingDiv" style="padding-right: 0px; background: #1a1a1a;left: 0px;" [style.height.px]="myInnerHeight" *ngIf="loginScreenBacNet == true"> -->
            <!-- <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation" style="padding: 0rem; position: relative"> -->
            <div>

                <div class="otherTab" routerLink="/bacnet/networkInterface"><i class="fa fa-signal" aria-hidden="true"></i>Network Interface Settings</div>

                <div class="otherTab" routerLink="/bacnet/about"><i class="fa fa-info-circle" aria-hidden="true"></i>About</div>

                <div class="otherTab" routerLink="/bacnet/help"><i class="fa fa-question-circle" aria-hidden="true"></i>Help</div>
                <div class="otherTab" routerLink="/bacnet/defaultConfiguration"><i class="fa fa-question-circle" aria-hidden="true"></i>Default Configuration</div>
                <div class="otherTab" routerLink="/bacnet/gatewayStatus"><i class="fa fa-question-circle" aria-hidden="true"></i>Gateway Service Status</div>
                <div class="otherTab" routerLink="/bacnet/objectMapping"><i class="fa fa-file-o" aria-hidden="true"></i> Object Mapping</div>
                <div class="otherTab" routerLink="/bacnet/debug"><i class="fa fa-pencil" aria-hidden="true"></i> Debug Log</div>
                <div class="otherTab" (click)="toggle()">
                    <i class="fa fa-cog" aria-hidden="true"></i>Setting
                    <i class="fa fa-chevron-right secondFaIcon" aria-hidden="true" *ngIf="show_dialog"></i>
                    <i class="fa fa-chevron-left secondFaIcon" aria-hidden="true" *ngIf="!show_dialog"></i>
                </div>

                <div [ngClass]="[show_dialog == true ? 'showDialog' : 'hideDialog']">
                    <div class="otherTab" style="padding: 0;">
                        <ul class="nav sidebar-nav" id="sidebar-wrapper">
                            <li *ngFor="let configList of allConfigList; let i =index">
                                <button class="card-button" [ngClass]="[configList == isselected ? 'button-active' : 'button-standard']" routerLink="/bacnet/{{configList}}" (click)="addToList(configList)">{{configList}}</button>
                                <!-- <button class="card-button" [ngClass]="[configList == isselected ? 'button-active' : 'button-standard']" routerLink="/bacnet/{{configList}}">{{configList}}</button> -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <!-- </nav> -->


        </div>
        <div class="col-sm-10" style="margin: 0px auto;">
            <div id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false" class="modal-backdrop" *ngIf="showBacNetLoginPopUP">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">BACnet IP Address</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeForNewBACnet=false; loginModelStatusValue = false" *ngIf="closeForNewBACnet">
                                <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">

                                        <label for="ipAddress" class="col-form-label">IP Address:</label>
                                        <input name="IP" class="form-control" id="ipAddress" #ipAddress placeholder="ipAddress" (keyup)="onChange($event, ipAddress)">

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="port" class="col-form-label">Port:</label>
                                        <input name="port" type="number" class="form-control" id="port" #port placeholder="port" (keyup)="onChange($event, port)">

                                    </div>
                                </div>

                            </div>
                            <h1 *ngIf="!isConnectedValue" class="ValidAddress">Please Enter valid IP address or port</h1>
                            <div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary transcendbtn" data-dismiss="modal" (click)="closeForNewBACnet=false; loginModelStatusValue = false" *ngIf="closeForNewBACnet">Close</button>
                            <button type="button" (click)="addBACnetAddress(ipAddress.value,port.value)" *ngIf="!loginStatusBtn" disabled>Go</button>
                            <button type="button" (click)="addBACnetAddress(ipAddress.value,port.value)" *ngIf="loginStatusBtn">Go</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <button type="button" (click)="addBACnetAddress('192.168.80.58', '7004')">Go</button> -->

            <!-- <div *ngFor="let data of _postsJson">{{data.employee_name}}</div> -->
            <router-outlet *ngIf="showBacNetLoginPopUP==false"></router-outlet>
        </div>

    </div>