<div class="container-fluid" *ngIf="isDataAvailable == false">
    <div class="row">
        <div class="col-sm-12">
            <div class="loader"></div>
        </div>
    </div>
</div>

<div class="jumbotron" *ngIf="isDataAvailable == true">
    <div class="row">
        <div class="col-sm-10">
            <h3 class="display-4">{{title}}</h3>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-outline-primary" (click)="submitCommunicationComp()">Save</button>
            <button type="button" class="btn btn-outline-secondary" (click)="cancel()">Reset</button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div tooltip="This panel is used to set the Publish/Communication Module settings - The DropDown Control will allow User to set the Communication Module which is required for Monitoring the BACnet Communication." placement="right" delay="500" style="cursor:pointer; display: inline-block;">
                        <!-- <div tooltip="This panel is used to configure BACnet Password if checkbox is checked otherwise it is optional field." placement="right" delay="500"> -->
                        <span style="background:transparent">Communication Settings <i class="fa fa-info-circle" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="mainContent">
                        <div class="row addBorderBottom">
                            <div class="col-sm-4 rightBorder">
                                <div class="form-group" id="fieldName">
                                    <p><strong>Communication Parameters</strong></p>
                                </div>
                            </div>
                            <div class="col-sm-4 rightBorder">
                                <div class="form-group" id="fieldName">
                                    <p><strong>Current Setting</strong></p>
                                </div>
                            </div>
                            <div class="col-sm-4 rightBorder">
                                <div class="form-group" id="fieldName">
                                    <p><strong>New Setting</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 rightBorder" style="padding : 0px">
                                <div class="form-group" id="fieldName" class="borderBottomField">
                                    <p><strong>Module Type</strong></p>
                                </div>
                            </div>

                            <div class="col-sm-4 rightBorder" style="padding: 0px">
                                <div *ngFor="let post of _postsArrayCommunication">
                                    <div id="fieldName" class="borderBottomField1">
                                        {{_postJson.Communication.CurrentModule}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4" style="padding : 0px">
                                <form [formGroup]="formCommunication" (ngSubmit)="onSubmitCommunication(formCommunication.value)">
                                    <div *ngFor="let post of _postsArrayCommunication">

                                        <div class="form-group borderBottomField1">
                                            <span class="custom-dropdown custom-dropdown--red custom-dropdown--large">
                                                <select class="custom-dropdown__select custom-dropdown__select--red" (change)="DataPublishClick($event.srcElement.value)">
                                                  <option *ngFor = "let option of molexProjectNameValue"> {{option}} </option>
                                                </select>
                                            </span>

                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row" style="background-color:#f9f9f9">
        <div class="col-sm-10">
            <h6><b>© Copyright 2019<span style="color:red"> molex, LLC.</span></b> All rights reserved.</h6>
        </div>
        <div class="col-sm-2">
            <h6 class="bacnetVersion">Version 1.2.0.0</h6>
        </div>
    </div>

</div>
