<div class="container-fluid" *ngIf="isDataAvailable == false">
    <div class="row">
        <div class="col-sm-12">
            <div class="loader"></div>
        </div>
    </div>
</div>

<div class="jumbotron" *ngIf="isDataAvailable == true">
    <div class="row">
        <div class="col-sm-10">
            <h3 class="display-4">{{title}}</h3>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-outline-primary" (click)="submitDeviceComp()">Save</button>
            <button type="button" class="btn btn-outline-secondary" (click)="cancel()">Reset</button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div tooltip="This panel is used to set values of BACnet Device Object properties." placement="right" delay="500" style="cursor:pointer; display: inline-block;">
                        <!-- <div tooltip="This panel is used to configure BACnet Password if checkbox is checked otherwise it is optional field." placement="right" delay="500"> -->
                        <span style="background:transparent">Device Object Settings <i class="fa fa-info-circle" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="mainContent">
                        <div class="row addBorderBottom">
                            <div class="col-sm-4 rightBorder">
                                <div class="form-group" id="fieldName">
                                    <p><strong>BACnet</strong></p>
                                </div>
                            </div>
                            <div class="col-sm-4 rightBorder">
                                <div class="form-group" id="fieldName">
                                    <p><strong>Current</strong></p>
                                </div>
                            </div>
                            <div class="col-sm-4 rightBorder">
                                <div class="form-group" id="fieldName">
                                    <p><strong>New</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 rightBorder" style="padding : 0px">
                                <div class="form-group" id="fieldName" class="borderBottomField">
                                    <p><strong>VendorName</strong></p>
                                </div>
                                <div class="form-group" id="fieldName" class="borderBottomField">
                                    <p><strong>ModelName</strong></p>
                                </div>
                                <div class="form-group" id="fieldName" class="borderBottomField">
                                    <p><strong>Description</strong></p>
                                </div>
                                <div class="form-group" id="fieldName" class="borderBottomField">
                                    <p><strong>APDUTimeout</strong></p>
                                </div>
                                <div class="form-group" id="fieldName" class="borderBottomField">
                                    <p><strong>APDURetries</strong></p>
                                </div>
                                <div class="form-group" id="fieldName" class="borderBottomField">
                                    <p><strong>APDUSegmentTimeout</strong></p>
                                </div>
                                <div class="form-group" id="fieldName" class="borderBottomField">
                                    <p><strong>UTCOffset</strong></p>
                                </div>
                                <div class="form-group" id="fieldName" class="borderBottomField">
                                    <p><strong>DaylightSavingStatus</strong></p>
                                </div>
                            </div>

                            <div class="col-sm-4 rightBorder" style="padding: 0px">
                                <div *ngFor="let post of _postsArrayDevice">
                                    <div id="fieldName" class="borderBottomField1">
                                        {{post.VendorName}}
                                    </div>
                                    <div id="fieldName" class="borderBottomField1">
                                        {{post.ModelName}}
                                    </div>
                                    <div id="fieldName" class="borderBottomField1">
                                        {{post.Description}}
                                    </div>
                                    <div id="fieldName" class="borderBottomField1">
                                        {{post.APDUTimeout}}
                                    </div>
                                    <div id="fieldName" class="borderBottomField1">
                                        {{post.APDURetries}}
                                    </div>
                                    <div id="fieldName" class="borderBottomField1">
                                        {{post.APDUSegmentTimeout}}
                                    </div>
                                    <div id="fieldName" class="borderBottomField1">
                                        {{post.UTCOffset}}
                                    </div>
                                    <div id="fieldName" class="borderBottomField1">
                                        {{post.DaylightSavingStatus}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4" style="padding : 0px">
                                <form [formGroup]="formDevice" (ngSubmit)="onSubmitDevice(formDevice.value)">
                                    <div *ngFor="let post of _postsArrayDevice">
                                        <div class="form-group borderBottomField1">
                                            <input name="VendorName" type="text" class="form-control" id="exampleFormControlInput1" formControlName="VendorName" required>
                                            <div *ngIf="formDevice.controls['VendorName'].invalid && (formDevice.controls['VendorName'].dirty || formDevice.controls['VendorName'].touched)" class="alert alert-danger">
                                                <div *ngIf="formDevice.controls['VendorName'].errors.required">
                                                    Vendor Name is required.
                                                </div>
                                                <!-- <div *ngIf="formDevice.controls['VendorName'].errors.minlength">
                                                        Vendor Name must be at least 5 characters long.
                                                    </div> -->
                                            </div>
                                        </div>
                                        <div class="form-group borderBottomField1">
                                            <input name="ModelName" type="text" class="form-control" id="exampleFormControlInput1" formControlName="ModelName" required>
                                            <div *ngIf="formDevice.controls['ModelName'].invalid && (formDevice.controls['ModelName'].dirty || formDevice.controls['ModelName'].touched)" class="alert alert-danger">
                                                <div *ngIf="formDevice.controls['ModelName'].errors.required">
                                                    Model Name is required.
                                                </div>
                                                <!-- <div *ngIf="formDevice.controls['ModelName'].errors.minlength">
                                                        Model Name must be at least 5 characters long.
                                                    </div> -->
                                            </div>
                                        </div>
                                        <div class="form-group borderBottomField1">
                                            <input name="Description" type="text" class="form-control" id="exampleFormControlInput1" formControlName="Description" required>
                                            <div *ngIf="formDevice.controls['Description'].invalid && (formDevice.controls['Description'].dirty || formDevice.controls['Description'].touched)" class="alert alert-danger">
                                                <div *ngIf="formDevice.controls['Description'].errors.required">
                                                    Description is required.
                                                </div>
                                                <!-- <div *ngIf="formDevice.controls['Description'].errors.minlength">
                                                        Description must be at least 7 characters long.
                                                    </div> -->

                                                <!-- <div *ngIf="formDevice.controls['Description'].invalid">
                                                        Description is Invalid
                                                    </div> -->
                                            </div>
                                        </div>
                                        <div class="form-group borderBottomField1">
                                            <span class="custom-dropdown custom-dropdown--red custom-dropdown--large">
                                                <select class="custom-dropdown__select custom-dropdown__select--red" (change)="APDUTimeoutClick($event.srcElement.value)">
                                                  <option *ngFor = "let option of APDUTimeoutValue"> {{option}} </option>
                                                </select>
                                            </span>

                                            <!-- <input name="APDUTimeout" type="number" class="form-control" id="exampleFormControlInput1" formControlName="APDUTimeout" minlength="5" maxlength="10" required>
                                            <div *ngIf="formDevice.controls['APDUTimeout'].invalid && (formDevice.controls['APDUTimeout'].dirty || formDevice.controls['APDUTimeout'].touched)" class="alert alert-danger">
                                                <div *ngIf="formDevice.controls['APDUTimeout'].errors.required">
                                                    APDU Timeout is required.
                                                </div>
                                                <div *ngIf="formDevice.controls['APDUTimeout'].errors.minlength">
                                                    APDU Timeout must be at least 5 characters long.
                                                </div>
                                            </div> -->
                                        </div>
                                        <div class="form-group borderBottomField1">
                                            <input name="APDURetries" type="number" class="form-control" id="exampleFormControlInput1" formControlName="APDURetries" minlength="5" maxlength="10" required>
                                            <div *ngIf="formDevice.controls['APDURetries'].invalid && (formDevice.controls['APDURetries'].dirty || formDevice.controls['APDURetries'].touched)" class="alert alert-danger">
                                                <div *ngIf="formDevice.controls['APDURetries'].errors.required">
                                                    APDU Retries is required.
                                                </div>
                                                <div *ngIf="formDevice.controls['APDURetries'].errors.minlength">
                                                    APDU Retries must be at least 5 characters long.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group borderBottomField1">

                                                    <select class="custom-dropdown__select custom-dropdown__select--red" (change)="APDUSegmentTimeoutClick($event.srcElement.value)">
                                                  <option *ngFor = "let option of APDUSegmentTimeoutValue"> {{option}} </option>
                                                </select>
                                        </div>
                                        <div class="form-group borderBottomField1">
                                            <input name="UTCOffset" type="number" class="form-control" id="exampleFormControlInput1" formControlName="UTCOffset" minlength="5" maxlength="10" required>
                                            <div *ngIf="formDevice.controls['UTCOffset'].invalid && (formDevice.controls['UTCOffset'].dirty || formDevice.controls['UTCOffset'].touched)" class="alert alert-danger">
                                                <div *ngIf="formDevice.controls['UTCOffset'].errors.required">
                                                    UTC Offset is required.
                                                </div>
                                                <div *ngIf="formDevice.controls['UTCOffset'].errors.minlength">
                                                    UTC Offset must be at least 5 characters long.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="borderBottomField1">
                                            <label class="container">Enable
                                                    <input type="radio" [checked]="DaylightSavingVal == true" name="radio">
                                                    <span class="checkmark" (click)="enaDisClicked(true)"></span>
                                                </label>
                                            <label class="container">Disable
                                                    <input type="radio" [checked]="DaylightSavingVal == false" name="radio">
                                                    <span class="checkmark" (click)="enaDisClicked(false)"></span>
                                                </label>
                                            <!-- <input name="DaylightSavingStatus" type="number" class="form-control" id="exampleFormControlInput1" formControlName="DaylightSavingStatus" minlength="5" maxlength="10" required>
                                                <div *ngIf="formDevice.controls['DaylightSavingStatus'].invalid && (formDevice.controls['DaylightSavingStatus'].dirty || formDevice.controls['DaylightSavingStatus'].touched)" class="alert alert-danger">
                                                    <div *ngIf="formDevice.controls['DaylightSavingStatus'].errors.required">
                                                        Not Good Max is required.
                                                    </div>
                                                    <div *ngIf="formDevice.controls['DaylightSavingStatus'].errors.minlength">
                                                        Not Good Max must be at least 5 characters long.
                                                    </div>
                                                </div> -->
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="background-color:#f9f9f9">
        <div class="col-sm-10">
            <h6><b>© Copyright 2019<span style="color:red"> molex, LLC.</span></b> All rights reserved.</h6>
        </div>
        <div class="col-sm-2">
            <h6 class="bacnetVersion">Version 1.2.0.0</h6>
        </div>
    </div>

</div>
