<div class="container-fluid" *ngIf="isDataAvailable == false">
    <div class="row">
        <div class="col-sm-12">
            <div class="loader"></div>
        </div>
    </div>
</div>

<div class="jumbotron" *ngIf="isDataAvailable == true">
    <div class="row">
        <div class="col-sm-10">
            <h3 class="display-4">{{title}}</h3>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-outline-primary" (click)="submitNetworkComp()">Save</button>
            <button type="button" class="btn btn-outline-secondary" (click)="cancel()">Reset</button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div tooltip="This panel is used to select network interface on which the Network Service communicates with lighting network." placement="right" delay="500" style="cursor:pointer; display: inline-block;">
                        <!-- <div tooltip="This panel is used to configure BACnet Password if checkbox is checked otherwise it is optional field." placement="right" delay="500"> -->
                        <span style="background:transparent">IP Address Selection <i class="fa fa-info-circle" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="mainContent">
                        <div class="row addBorderBottom">
                            <div class="col-sm-3 rightBorder">
                                <div class="form-group" id="fieldName">
                                    <p><strong>Gateway Parameters</strong></p>
                                </div>
                            </div>
                            <div class="col-sm-2 rightBorder">
                                <div class="form-group" id="fieldName">
                                    <p><strong>Current Setting</strong></p>
                                </div>
                            </div>
                            <div class="col-sm-2 rightBorder">
                                <div class="form-group" id="fieldName">
                                    <p><strong>New Setting</strong></p>
                                </div>
                            </div>
                            <div class="col-sm-3 rightBorder">
                                <div class="form-group" id="fieldName">
                                    <p><strong>New Setting</strong></p>
                                </div>
                            </div>
                            <div class="col-sm-2 rightBorder">
                                <div class="form-group" id="fieldName">
                                    <p><strong>New Setting</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngFor="let post of IPAddressList; let i=index">
                            <div class="col-sm-3 rightBorder" style="padding : 0px">
                                <div class="form-group" id="fieldName" class="borderBottomField">
                                    <p><strong>{{post.NetworkInterfaceName}}</strong></p>
                                </div>

                            </div>

                            <div class="col-sm-2 rightBorder" style="padding: 0px">
                                <div>
                                    <div id="fieldName" class="borderBottomField1">
                                        {{post.IPAddress}}
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-2 rightBorder" style="padding: 0px">
                                <div>
                                    <div id="fieldName" class="borderBottomField1">
                                        {{post.NetworkInterfaceType}}
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-3 rightBorder" style="padding: 0px">
                                <div>
                                    <div id="fieldName" class="borderBottomField1">
                                        {{post.OperationalStatus}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-2 rightBorder" style="padding: 0px">
                                <div>
                                    <div id="fieldName" class="borderBottomField1">
                                        <label class="container">
                                            <input type="radio" [checked]="post.IsSelected==true" name="radio" value="post.IsSelected">
                                            <span class="checkmark" (click)="selectStatus(true, i)"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div tooltip="This panel is used to select network interface on which the Network Service communicates with lighting network." placement="right" delay="500" style="cursor:pointer; display: inline-block;">
                        <!-- <div tooltip="This panel is used to configure BACnet Password if checkbox is checked otherwise it is optional field." placement="right" delay="500"> -->
                        <span style="background:transparent">IP Address Selection <i class="fa fa-info-circle" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="card-body">

                    <div class="mainContent">
                        <div class="row">
                            <div class="col-sm-6 rightBorder" style="padding : 0px">
                                <div class="form-group" id="fieldName" class="borderBottomField">
                                    <p><strong>UDP Port Number</strong></p>
                                </div>
                                <div class="form-group" id="fieldName" class="borderBottomField">
                                    <p><strong>Virtual Network Number :</strong></p>
                                </div>
                                <div class="form-group" id="fieldName" class="borderBottomField">
                                    <p><strong>Local Network Number :</strong></p>
                                </div>
                            </div>

                            <div class="col-sm-6" style="padding : 0px">
                                <form [formGroup]="formNetwork" (ngSubmit)="onSubmitNetwork(formNetwork.value)">
                                    <div *ngFor="let post of _postsArrayNetwork">
                                        <div class="form-group borderBottomField1">
                                            <input name="UDPPort" type="text" class="form-control" id="exampleFormControlInput1" formControlName="UDPPort" required>
                                            <!-- <div tooltip="This TextInput is used to configure the Device ID which is required for Network Service." placement="left" delay="500" style="cursor:pointer; display: inline-block;">
                                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                            </div> -->
                                            <div *ngIf="formNetwork.controls['UDPPort'].invalid && (formNetwork.controls['UDPPort'].dirty || formNetwork.controls['UDPPort'].touched)" class="alert alert-danger">
                                                <div *ngIf="formNetwork.controls['UDPPort'].errors.required">
                                                    UDP Port is required.
                                                </div>
                                                <!-- <div *ngIf="formNetwork.controls['UDPPort'].errors.minlength">
                                                        Vendor Name must be at least 5 characters long.
                                                    </div> -->
                                            </div>
                                        </div>
                                        <div class="form-group borderBottomField1">
                                            <input name="VirtualNetworkNumber" type="text" class="form-control" id="exampleFormControlInput1" formControlName="VirtualNetworkNumber" required>
                                            <!-- <div tooltip="This TextInput is used to configure the API Service URL which is required for Network Service. Once done kindly click over the 'Save' before configuring the below Project Name" placement="left" delay="500" style="cursor:pointer; display: inline-block;">
                                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                            </div> -->
                                            <div *ngIf="formNetwork.controls['VirtualNetworkNumber'].invalid && (formNetwork.controls['VirtualNetworkNumber'].dirty || formNetwork.controls['VirtualNetworkNumber'].touched)" class="alert alert-danger">
                                                <div *ngIf="formNetwork.controls['VirtualNetworkNumber'].errors.required">
                                                    Virtual Network Number is required.
                                                </div>
                                                <!-- <div *ngIf="formNetwork.controls['VirtualNetworkNumber'].errors.minlength">
                                                        Model Name must be at least 5 characters long.
                                                    </div> -->
                                            </div>
                                        </div>

                                        <div class="form-group borderBottomField1">
                                            <input name="LocalNetworkNumber" type="text" class="form-control" id="exampleFormControlInput1" formControlName="LocalNetworkNumber" required>
                                            <!-- <div tooltip="This TextInput is used to configure the API Service URL which is required for Network Service. Once done kindly click over the 'Save' before configuring the below Project Name" placement="left" delay="500" style="cursor:pointer; display: inline-block;">
                                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                            </div> -->
                                            <div *ngIf="formNetwork.controls['LocalNetworkNumber'].invalid && (formNetwork.controls['LocalNetworkNumber'].dirty || formNetwork.controls['LocalNetworkNumber'].touched)" class="alert alert-danger">
                                                <div *ngIf="formNetwork.controls['LocalNetworkNumber'].errors.required">
                                                    Local Network Number is required.
                                                </div>
                                                <!-- <div *ngIf="formNetwork.controls['LocalNetworkNumber'].errors.minlength">
                                                        Model Name must be at least 5 characters long.
                                                    </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="background-color:#f9f9f9">
        <div class="col-sm-10">
            <h6><b>© Copyright 2019<span style="color:red"> molex, LLC.</span></b> All rights reserved.</h6>
        </div>
        <div class="col-sm-2">
            <h6 class="bacnetVersion">Version 1.2.0.0</h6>
        </div>
    </div>

</div>
