.jumbotron {
    margin-top: 1rem;
    padding: 0px;
    background: transparent;
}

.display-4 {
    font-size: 1.5rem;
}

.btn-outline-primary {
    margin-right: 1rem;
}

.btn {
    padding: 1px 11px;
}

.card {
    margin-bottom: 1rem
}

.tooltip-example {
    text-align: left;
    padding: 0 50px;
}

.tooltip-example [tooltip] {
    display: inline-block;
    margin: 10px 20px;
    width: 180px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 5px;
    line-height: 50px;
    text-align: left;
}

.ng-tooltip {
    position: absolute;
    max-width: 20rem;
    font-size: 14px;
    text-align: left;
    color: #f8f8f2;
    padding: 3px 8px;
    background: #282a36;
    border-radius: 4px;
    z-index: 1000;
    opacity: 0;
}

.ng-tooltip:after {
    content: "";
    position: absolute;
    border-style: solid;
}

.ng-tooltip-top:after {
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: black transparent transparent transparent;
}

.ng-tooltip-bottom:after {
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: transparent transparent black transparent;
}

.ng-tooltip-left:after {
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent transparent transparent black;
}

.ng-tooltip-right:after {
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent black transparent transparent;
}

.ng-tooltip-show {
    opacity: 1;
}

.table thead th, .table td, .table th {
    border-bottom: 2px solid transparent;
    border-top: 1px solid transparent;
}


/* Footer */
h6{
    font-size: .8rem;
    padding-top: .5rem;
}

.bacnetVersion{
    float:right;
}

#exampleFormControlInput1{
    margin-right:1rem;
}



.custom-dropdown--large {
    font-size: 1rem;
    outline:none;
  }
  
  .custom-dropdown--small {
    font-size: .7rem;
    outline:none;
  }
  
  .custom-dropdown__select{
    font-size: inherit; /* inherit size from .custom-dropdown */
    font-size: .7rem;
    padding: .3rem; /* add some space*/
    margin: 0; /* remove default margins */
  }
  
  .custom-dropdown__select--white {
    background-color: #fff;
    color: #444;    
  }	
  
  .custom-dropdown__select--emerald {
    background-color: #20b390;
    color: #fff;    
  }				
  
  .custom-dropdown__select--red {
    background-color: #1d1d1b;
    color: #fff;
    outline: none;
  }
  option{
      /* background: red; */
  }

  .inputText{
      padding:.3rem .5rem;
      font-size: .7rem;
  }