#page-content-wrapper {
    padding-top: 20px;
}

.box-title {
    display: inline-block;
    font-size: 2rem;
    margin: 0;
    line-height: 1;
    margin-top: 1rem;
    margin-bottom: .75rem;
    display: block;
}

.box-body {
    padding-bottom: 1rem;
    border-bottom: 2px solid #00c0ef;
}

.sidebar-nav {
    position: absolute;
    width: 100%;
    top: 0;
    /* width: 220px; */
    margin: 0;
    padding: 0;
    /* left: .5rem; */
    list-style: none;
}

.box-title1 {
    font-size: 1rem;
    margin: 2rem 0;
}

footer {
    margin: 1rem 0;
}

.badge {
    margin-right: .2rem
}

#tsConfigTable {
    display: inline-table;
}

#newTSbtn {
    float: right;
    margin: 1rem 0;
}

#exampleModal {
    /* position: absolute;
    width: 100%;
    z-index: 999;
    top: 35%; */
}

.modal-dialog {
    max-width: 500px;
    margin: 7.75rem auto;
}

@media (min-width: 576px) .modal-dialog {
    max-width: 500px;
    margin: 11.75rem auto;
}

.fa-edit {
    background-color: #3c8dbc;
    border-color: #367fa9;
    border-radius: 3px;
    color: #fff;
    padding: .5rem;
    cursor: pointer;
}

.fa-trash {
    cursor: pointer;
    padding: .5rem;
    border-radius: 3px;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.list-group-item {
    background-color: transparent;
    border: transparent;
    font-size: 1rem;
}

.list-group-item input {
    margin-right: 1rem;
}

.mt-5 {
    margin-top: 1rem!important;
}

.closeInfoBtn {
    display: inline-block;
    left: 0px;
    float: right;
    margin: .5rem;
    cursor: pointer;
}

.transcendbtn {
    margin-right: 1rem;
}

#exampleModal {
    /* position: absolute;
    width: 122%;
    top: -11%;
    left: -22%; */
    /* height: 132%; */
    /* background-color: rgba(0, 0, 0, .5);
    z-index: 9999;
    height: 46.5rem; */
}

.card-body button:hover {
    border: 3px solid #c7ca30;
    background: #e4e681;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, .5) !important;
    left: 0%;
    width: 100%;
    z-index: 1040;
}

.modal-dialog {
    max-width: 500px;
    margin: 11.75rem auto;
}

@media (min-width: 576px) .modal-dialog {
    max-width: 500px;
    margin: 11.75rem auto;
}

.bottomAlignTxt {
    position: absolute;
    right: 1rem;
    bottom: 0;
}

#sidebar-wrapper {
    width: 100%;
    height: 7.6rem;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    transition: all 0.5s ease;
}

#sidebar-wrapper {
    /* left: 0rem; */
    padding: 0px;
}

.showDialog {
    /* left: 0rem; */
    display: block;
    transition: all .5s linear;
}

.hideDialog {
    display: none;
    /* left: -18rem; */
    transition: all .5s linear;
}

.secondFaIcon {
    float: right;
}

.fa {
    margin-right: 1rem;
}

ul li.active+.submenu {
    display: block;
    list-style: none;
}

.submenu li {
    padding-left: 15px;
}

ul li+.submenu {
    display: none;
}

.otherTab {
    font-weight: 400;
    /* position: absolute; */
    /* top: 17.5rem; */
    width: 100%;
    color: #b8c7ce;
    padding: .8rem;
    /* margin-top: 11rem; */
    background: transparent;
    cursor: pointer;
    outline: none;
}

.otherTab:nth-child(2) {
    top: 2.5rem;
}

.otherTab:hover {
    color: #fff;
    background: #0a0a0a;
}

a {
    outline: none;
}

.sidebar-nav li,
.sidebar-nav li button {
    padding-left: .5rem;
    font-size: .75rem;
}

.removePaddingDiv {
    padding-left: 0px;
    padding-right: 0px;
}

.sidebar-nav li:before {
    left: .5rem;
}
