<div id="wrapper" [ngClass]="ref.click === true? 'toggled' :''">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 removePaddingDiv" [style.height.px]="myInnerHeight" *ngIf="isDataAvailable == true && showDivContent==true">
                <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
                    <ul class="nav sidebar-nav">
                        <li *ngFor="let configList of allConfigList; let i =index">
                            <button (click)="buttonClick(i)" class="card-button" [ngClass]="[i == isselected ? 'button-active' : 'button-standard']"> {{configList}}</button>

                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-10">
                <div id="page-content-wrapper">

                    <!-- <button (click)="abc()">GetData</button> -->

                    <button appSidebar #ref="appSidebar" type="button" class="hamburger is-open" data-toggle="offcanvas">
                          <span class="hamb-top"></span>
                          <span class="hamb-middle"></span>
                          <span class="hamb-bottom"></span>
                      </button>
                    <div class="container-fluid" *ngIf="ref.click === true && isDataAvailable == false">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="loader"></div>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid" *ngIf="ref.click === true && isDataAvailable == true">
                        <!-- <div class="row">
                            <div class="col-lg-8 col-lg-offset-2"> -->
                        <!-- getHumidex -->

                        <div class="box-body">
                            <div class="Headertxt">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h2 class="box-title">API Configuration User Interface</h2>
                                        <i style="color: red"> Version: <span id='apiVersion'>{{apiVersion}}</span></i>
                                        <div id="auditModal" class="pull-right">
                                            <div id="auditDiv">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="box-header with-border">
                                            <div class="pull-right bottomAlignTxt">
                                                <input type="button" class="btn btn-info btn-sm" value="Open New API" (click)="clicknewAPIBtn()" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mainContent" *ngIf="showAPI">
                            <h3 class="box-title1">API Server Configuration</h3>
                            <!-- <img src="../../assets/inProgress.jpg" alt="image" width="987" class="img-responsive"> -->
                            <form [formGroup]="formApiServer" (ngSubmit)="onSubmitApi(formApiServer.value)">
                                <div *ngFor="let postApi of _postsArrayApi">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input name="ip" class="form-control" id="exampleFormControlInput1" formControlName="ip" minlength="4" required disabled>
                                                <div *ngIf="formApiServer.controls['ip'].invalid && (formApiServer.controls['ip'].dirty || formApiServer.controls['ip'].touched)" class="alert alert-danger">
                                                    <div *ngIf="formApiServer.controls['ip'].errors.required">
                                                        ip is required.
                                                    </div>
                                                    <div *ngIf="formApiServer.controls['ip'].invalid">
                                                        Invalid ip address
                                                    </div>
                                                    <div *ngIf="formApiServer.controls['ip'].errors.minlength">
                                                        IP must be at least 4 characters long.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input name="port" type="number" class="form-control" id="exampleFormControlInput1" formControlName="port" required disabled>
                                                <div *ngIf="formApiServer.controls['port'].invalid && (formApiServer.controls['port'].dirty || formApiServer.controls['port'].touched)" class="alert alert-danger">
                                                    <div *ngIf="formApiServer.controls['port'].errors.required">
                                                        Port is required.
                                                    </div>
                                                    <div *ngIf="formApiServer.controls['port'].errors.minlength">
                                                        Port must be at least 4 characters long.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="box-header with-border">
                                                <div class="pull-right">
                                                    <input type="button" class="btn btn-info btn-sm" value="Export Logger" (click)="exportLogger()" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-12">
                            <!-- <div class="wrapper"> -->
                            <!-- Main content -->
                            <!-- <section class="content"> -->

                            <!-- API Server Config -->
                            <!-- <div class="box box-info"> -->
                            <!-- <form name="apiConfigFrm" id="apiConfigFrm"> -->
                            <!-- <div class="box-header with-border">
                                                        <h3 class="box-title">API Server Configuration</h3>
                                                        <div class="pull-right">
                                                            <input type="button" class="btn btn-info btn-sm" value="Export Logger" onclick="window.open('http://localhost:81/transcend/api/v1/download/logger')" />
                                                        </div>
                                                    </div> -->
                            <!-- <div class="box-body">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="col-sm-6" for="apiIP">IP Address</label>

                                                                <div class="col-sm-6">
                                                                    <input type="text" name="apiIP" id="apiIP" placeholder="IP Address" disabled />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="col-sm-6" for="apiPort">Port</label>

                                                                <div class="col-sm-6">
                                                                    <input type="text" name="apiPort" id="apiPort" placeholder="Port" disabled />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div> -->

                            <div class="box-body" style="display: none">

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-6" for="apiUsername">Username</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="apiUsername" id="apiUsername" placeholder="Username" disabled />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-6" for="apiPassword">Password
                                            &nbsp;<span id="togglePassword" class="fa fa-fw fa-eye field-icon" title="view password">
                                            </span>
                                        </label>
                                        <div class="col-sm-6">
                                            <input type="password" name="apiPassword" id="apiPassword" placeholder="Password" disabled />

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="box-footer" style="display: none">
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-primary" id="apiSavebtn" style="display: none">Save
                                    </button>
                                    <button type="button" class="btn btn-primary" id="apiResetbtn" style="display: none">Reset</button>
                                </div>
                            </div>
                            <!-- </form>
                                            </div> -->




                            <!-- </section> -->
                            <!-- </div> -->
                        </div>
                        <!-- </div> -->
                        <!-- </div> -->
                        <!-- ./wrapper -->



                        <!-- New Transcend Server Modal -->
                        <!-- <div class="modal fade" id="new-transcend-server" tabindex="-1" role="dialog" aria-labelledby="TSModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                                        <h4 class="modal-title" id="TSModalLabel">New Transcend Server</h4>
                                    </div>
                                    <form name="tsConfigNewFrm" id="tsConfigNewFrm">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label class="control-label" for="tsIPNew">IP Address</label>
                                                    <input type="text" class="form-control" name="tsIPNew" id="tsIPNew" placeholder="IP Address" required />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label class="control-label" for="tsPortNew">Port</label>
                                                    <input type="text" class="form-control" name="tsPortNew" id="tsPortNew" placeholder="Port" required />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button type="button" class="btn btn-success" id="tsSaveNewbtn">Save</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div> -->

                        <!-- Edit Transcend Server Modal -->
                        <div class="modal fade" id="edit-transcend-server" tabindex="-1" role="dialog" aria-labelledby="TSEditModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <h4 class="modal-title" id="TSEditModalLabel">Edit Transcend Server Lightscene(s)</h4>
                                    </div>
                                    <form name="tsConfigEditFrm" id="tsConfigEditFrm">
                                        <div class="modal-body">
                                            <div class="form-group" style="display: none">
                                                <div class="col-md-12">
                                                    <label class="control-label" for="tsIPEdit">IP Address</label>
                                                    <input type="text" class="form-control" name="tsIPEdit" id="tsIPEdit" placeholder="IP Address" style="display: none" />
                                                    <input type="hidden" class="form-control" name="tsHiddenProjectId" />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="form-group" style="display: none">
                                                <div class="col-md-12">
                                                    <label class="control-label" for="tsPortEdit">Port</label>
                                                    <input type="text" class="form-control" name="tsPortEdit" id="tsPortEdit" placeholder="Port" style="display: none" />
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label for="apiUserLSEdit">User zone lightscene(s)</label>
                                                    <select class="form-control select2" name="apiUserLSEdit" id="apiUserLSEdit" multiple="multiple" data-placeholder="User zone" style="width: 100%;">
                                </select>
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label for="apiGeneralLSEdit">General zone lightscene(s)</label>
                                                    <select class="form-control select2" name="apiGeneralLSEdit" id="apiGeneralLSEdit" multiple="multiple" data-placeholder="General zone" style="width: 100%;">
                                </select>
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label for="apiInfoLSEdit">Information zone lightscene(s)</label>
                                                    <select class="form-control select2" name="apiInfoLSEdit" id="apiInfoLSEdit" multiple="multiple" data-placeholder="Information zone" style="width: 100%;">
                                </select>
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label for="apiBuildingLSEdit">Building lightscene(s)</label>
                                                    <select class="form-control select2" name="apiBuildingLSEdit" id="apiBuildingLSEdit" multiple="multiple" data-placeholder="Building zone" style="width: 100%;">
                                </select>
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button type="button" class="btn btn-success" id="tsUpdatebtn">Save</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="TSModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <h4 class="modal-title">Inactive Transcend Server</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container"></div>
                                        <div class="form-group">
                                            <button type="button" class="btn btn-danger" id="btnYes" data-id="">Deactivate</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Modal inactiveTranscendServerVal-->
                        <div div id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false" style="" class="modal-backdrop" *ngIf="inactiveTranscendServerVal==true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Inactive Transcend Server</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="inactiveTranscendServerVal=false">
                    <span aria-hidden="true">&times;</span>
                  </button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- <form [formGroup]="formApiServer" (ngSubmit)="onSubmitApi(formApiServer.value)"> -->
                                        <div *ngFor="let postApi of _postsArrayApi">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        Are you sure to delete transcend server record: <b>{{getDeletedIP}}</b>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- </form> -->
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="inactiveTranscendServerVal=false">Cancel</button>
                                        <button type="button" class="btn btn-primary" (click)="inactiveSmartCore(false)">Deactivate</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- HeatmapUnitConfig -->
                    <div class="mainContent" *ngIf="showMQTT">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="box box-info">
                                    <h4 class="box-title1">MQTT Configuration</h4>
                                    <div style="margin-top: 10px" data-toggle="buttons">
                                        <button type="button" class="btn btn-info btn-sm" value="start" id="startMqtt" data-backdrop="static" data-keyboard="false" style="margin:5px" (click)="startConfiguration('start')">Start</button>
                                        <button type="button" class="btn btn-info btn-sm" value="stop" id="stopMqtt" data-backdrop="static" data-keyboard="false" style="margin:5px" (click)="stopConfiguration('stop')">Stop</button>
                                        <button style="margin:5px" type="button" class="btn btn-info btn-sm" value="stop" id="checkStatus" data-backdrop="static" data-keyboard="false" (click)="statusConfiguration('ping')">Status</button>
                                        <label id="mqtt-status" style="margin:10px;color: red">{{statusMessage}}</label>
                                    </div>
                                </div>


                            </div>
                            <div class="col-sm-6">
                                <div class="showImage" *ngIf="statusMessage == 'Broker Status: Running'">
                                    <img src="../../assets/server_Running.png" style="width: 30%" alt="...">
                                </div>
                                <div class="showImage" *ngIf="statusMessage == 'Broker Status: Stopped' || statusMessage =='Broker Status: Not Started'">
                                    <img src="../../assets/server_Stop.png" style="width: 30%" alt="...">
                                </div>

                            </div>
                        </div>
                    </div>



                    <!-- New IP Creation -->
                    <!-- Modal -->

                    <div id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false" *ngIf="showNewUser==true" class="modal-backdrop">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">New Transcend Server</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showNewUser=false">
            <span aria-hidden="true">&times;</span>
          </button>
                                </div>
                                <div class="modal-body">
                                    <form [formGroup]="formApiServer">
                                        <div *ngFor="let postApi of _postsArrayApi">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">

                                                        <label for="addIpAddress" class="col-form-label">IP Address:</label>
                                                        <input name="ip" class="form-control" id="ipAddress" formControlName="ip" minlength="4" required #addIpAddress placeholder="addIpAddress">
                                                        <div *ngIf="formApiServer.controls['ip'].invalid && (formApiServer.controls['ip'].dirty || formApiServer.controls['ip'].touched)" class="alert alert-danger">
                                                            <div *ngIf="formApiServer.controls['ip'].errors.required">
                                                                IP is required.
                                                            </div>
                                                            <div *ngIf="formApiServer.controls['ip'].invalid">
                                                                Invalid IP address
                                                            </div>
                                                            <div *ngIf="formApiServer.controls['ip'].errors.minlength">
                                                                IP must be at least 4 characters long.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 card-body">
                                                    <div class="form-group">
                                                        <label for="addPort" class="col-form-label">Port:</label>
                                                        <input name="port" type="number" class="form-control" id="port" formControlName="port" required #addPort placeholder="addPort">
                                                        <div *ngIf="formApiServer.controls['port'].invalid && (formApiServer.controls['port'].dirty || formApiServer.controls['port'].touched)" class="alert alert-danger">
                                                            <div *ngIf="formApiServer.controls['port'].errors.required">
                                                                Port is required.
                                                            </div>
                                                            <div *ngIf="formApiServer.controls['port'].errors.minlength">
                                                                Port must be at least 4 characters long.
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div>

                                                        <h1 *ngIf="_errorTranscendServer" class="ValidAddress">Please Enter valid Smart Core IP address or port</h1>
                                                    </div>
                                                    <button type="button" class="btn btn-secondary transcendbtn" data-dismiss="modal" (click)="showNewUser=false">Close</button>
                                                    <button type="button" class="btn btn-primary" (click)="addSmartCore(addIpAddress.value, addPort.value)" [routerLink]="['/ApiComponent']">Save changes</button>

                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- Transcend Server -->
                    <div class="mainContent" *ngIf="showTranscend">

                        <h3 class="box-title1">Transcend Server Configuration</h3>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="box-header with-border">
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#new-transcend-server" id="newTSbtn" data-backdrop="static" data-keyboard="false" (click)="buttonModalClick(true)">New</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <table id="tsConfigTable" class="table table-bordered table-responsive table-striped table-dark">
                                    <thead>
                                        <tr>
                                            <th>IP</th>
                                            <th>Port</th>

                                            <th>User Lightscene(s)</th>
                                            <th>General Lightscene(s)</th>
                                            <th>Information Lightscene(s)

                                            </th>
                                            <th>Building Lightscene(s)</th>
                                            <th>Edit</th>
                                            <th>Inactive</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let trancendData of _postTranscendData">
                                        <td>{{trancendData.ip}}</td>
                                        <td>{{trancendData.port}}</td>
                                        <td><span class="badge badge-light" *ngFor="let user of trancendData.controllers.lightScenes |filter:filterData">{{user.name}}</span></td>
                                        <!-- this._postTranscendData[0].controllers.lightScenes[0].type[0] -->
                                        <!-- <td><span class="badge badge-light" *ngFor="let user of lightScenesUser">{{user}}</span></td> -->
                                        <td><span class="badge badge-light" *ngFor="let general of trancendData.controllers.lightScenes |filter:filterDataGeneral">{{general.name}}</span></td>
                                        <td><span class="badge badge-light" *ngFor="let beacon of trancendData.controllers.lightScenes |filter:filterDataBeacon">{{beacon.name}}</span></td>
                                        <td><span class="badge badge-light" *ngFor="let building of trancendData.controllers.lightScenes |filter:filterDataBuilding">{{building.name}}</span></td>
                                        <td><i class="fa fa-edit" (click)="transcendEditBtn()"></i></td>
                                        <td><i class="fa fa-trash" (click)="inactiveTranscendServer(true, trancendData.ip, trancendData.port, trancendData.id);"></i></td>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- Transcend Server EDIT-->


                    <div class="mainContent" *ngIf="showTranscendEdit">
                        <div class="container-fluid">
                            <div class="text-center mt-5">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="closeInfoBtn" (click)="infoBtnClicked()">Close</div>
                                        <table id="tsConfigTable" class="table table-bordered table-responsive table-striped table-dark">
                                            <thead>
                                                <tr>
                                                    <th>User LightScene</th>
                                                    <th>General LightScene</th>
                                                    <th>Information LightScene</th>
                                                    <th>Building LightScene</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <td>
                                                    <ul class="list-group">
                                                        <li class="list-group-item">
                                                            <input type="checkbox" [(ngModel)]="masterSelectedUser" name="list_name" value="m1" (change)="checkUncheckAllUser()" /> <strong>Select/ Unselect All</strong>
                                                        </li>
                                                    </ul>
                                                    <ul class="list-group">
                                                        <li class="list-group-item" *ngFor="let item of checklistUser">
                                                            <input type="checkbox" [(ngModel)]="item.isSelectedUser" name="list_name" (change)="isAllSelectedUser()" /> {{item.lightScene}}
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="list-group">
                                                        <li class="list-group-item">
                                                            <input type="checkbox" [(ngModel)]="masterSelectedGeneral" name="list_name" value="m1" (change)="checkUncheckAllGeneral()" /> <strong>Select/ Unselect All</strong>
                                                        </li>
                                                    </ul>
                                                    <ul class="list-group">
                                                        <li class="list-group-item" *ngFor="let item of checklistGeneral">
                                                            <input type="checkbox" [(ngModel)]="item.isSelectedGeneral" name="list_name" (change)="isAllSelectedGeneral()" /> {{item.lightScene}}
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="list-group">
                                                        <li class="list-group-item">
                                                            <input type="checkbox" [(ngModel)]="masterSelectedBeacon" name="list_name" value="m1" (change)="checkUncheckAllBeacon()" /> <strong>Select/ Unselect All</strong>
                                                        </li>
                                                    </ul>
                                                    <ul class="list-group">
                                                        <li class="list-group-item" *ngFor="let item of checklistBeacon">
                                                            <input type="checkbox" [(ngModel)]="item.isSelectedBeacon" name="list_name" (change)="isAllSelectedBeacon()" /> {{item.lightScene}}
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="list-group">
                                                        <li class="list-group-item">
                                                            <input type="checkbox" [(ngModel)]="masterSelectedBuilding" name="list_name" value="m1" (change)="checkUncheckAllBuilding()" /> <strong>Select/ Unselect All</strong>
                                                        </li>
                                                    </ul>
                                                    <ul class="list-group">
                                                        <li class="list-group-item" *ngFor="let item of checklistBuilding">
                                                            <input type="checkbox" [(ngModel)]="item.isSelectedBuilding" name="list_name" (change)="isAllSelectedBuilding()" /> {{item.lightScene}}
                                                        </li>
                                                    </ul>
                                                </td>

                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- <div class="col-md-3">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <input type="checkbox" [(ngModel)]="masterSelectedUser" name="list_name" value="m1" (change)="checkUncheckAllUser()" /> <strong>Select/ Unselect All</strong>
                                            </li>
                                        </ul>
                                        <ul class="list-group">
                                            <li class="list-group-item" *ngFor="let item of checklistUser">
                                                <input type="checkbox" [(ngModel)]="item.isSelectedUser" name="list_name" (change)="isAllSelectedUser()" /> {{item.lightScene}}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <input type="checkbox" [(ngModel)]="masterSelectedGeneral" name="list_name" value="m1" (change)="checkUncheckAllGeneral()" /> <strong>Select/ Unselect All</strong>
                                            </li>
                                        </ul>
                                        <ul class="list-group">
                                            <li class="list-group-item" *ngFor="let item of checklistGeneral">
                                                <input type="checkbox" [(ngModel)]="item.isSelectedGeneral" name="list_name" (change)="isAllSelectedGeneral()" /> {{item.lightScene}}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <input type="checkbox" [(ngModel)]="masterSelectedBeacon" name="list_name" value="m1" (change)="checkUncheckAllBeacon()" /> <strong>Select/ Unselect All</strong>
                                            </li>
                                        </ul>
                                        <ul class="list-group">
                                            <li class="list-group-item" *ngFor="let item of checklistBeacon">
                                                <input type="checkbox" [(ngModel)]="item.isSelectedBeacon" name="list_name" (change)="isAllSelectedBeacon()" /> {{item.lightScene}}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <input type="checkbox" [(ngModel)]="masterSelectedBuilding" name="list_name" value="m1" (change)="checkUncheckAllBuilding()" /> <strong>Select/ Unselect All</strong>
                                            </li>
                                        </ul>
                                        <ul class="list-group">
                                            <li class="list-group-item" *ngFor="let item of checklistBuilding">
                                                <input type="checkbox" [(ngModel)]="item.isSelectedBuilding" name="list_name" (change)="isAllSelectedBuilding()" /> {{item.lightScene}}
                                            </li>
                                        </ul>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- </div>
                        </div> -->
                    <footer class="footer" style="padding:0px 10px;" *ngIf="isDataAvailable == true">
                        <strong>Copyright &copy; Molex LLC</strong>
                        <i><script>document.write(new Date().getFullYear())</script></i>
                        <strong> All rights reserved.</strong>
                    </footer>
                </div>
            </div>
            <!-- /#page-content-wrapper -->
        </div>
    </div>
</div>

<!-- <div id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false" style="position:fixed; top:14%" class="modal-backdrop" *ngIf="loginModelStatusValue && popUpState"> -->
<div id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false" class="modal-backdrop" *ngIf="loginModelStatusValue">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">API IP Address</h5>
                <!-- {{loginModelStatusValue}} -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeForNewAPI=false; loginModelStatusValue = false" *ngIf="closeForNewAPI">
                      <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">

                            <label for="ipAddress" class="col-form-label">IP Address:</label>
                            <input name="IP" class="form-control" id="ipAddress" #ipAddress placeholder="ipAddress" ng-model="somefield" (keyup)="onChange($event, ipAddress)">
                            <!-- <input name="IP" class="form-control" id="ipAddress" formControlName="IP" minlength="4" required> -->
                            <!-- <div *ngIf="formApiServer.controls['IP'].invalid && (formApiServer.controls['IP'].dirty || formApiServer.controls['IP'].touched)" class="alert alert-danger">
                                    <div *ngIf="formApiServer.controls['IP'].errors.required">
                                        IP is required.
                                    </div>
                                    <div *ngIf="formApiServer.controls['IP'].invalid">
                                        Invalid IP address
                                    </div>
                                    <div *ngIf="formApiServer.controls['IP'].errors.minlength">
                                        IP must be at least 4 characters long.
                                    </div>
                                </div> -->
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="port" class="col-form-label">Port:</label>
                            <input name="port" type="number" class="form-control" id="port" #port placeholder="port" (keyup)="onChange($event, port)">
                            <!-- <input name="port" type="number" class="form-control" id="port" formControlName="port" required> -->
                            <!-- <div *ngIf="formApiServer.controls['port'].invalid && (formApiServer.controls['port'].dirty || formApiServer.controls['port'].touched)" class="alert alert-danger">
                                    <div *ngIf="formApiServer.controls['port'].errors.required">
                                        Port is required.
                                    </div>
                                    <div *ngIf="formApiServer.controls['port'].errors.minlength">
                                        Port must be at least 4 characters long.
                                    </div>
                                </div> -->
                        </div>
                    </div>

                </div>
                <h1 *ngIf="!isConnectedValue" class="ValidAddress">Please Enter valid IP address or port</h1>
                <div>

                    <!-- <table>
                            <tr *ngFor="let contact of contacts" style="margin-bottom: 10px;">
                                <td>{{contact.descr}}</td>
                                <td><button (click)="removeContact(contact)">Delete</button></td>
                            </tr>
                        </table> -->

                    <!-- <input #ipAddress placeholder="ipAddress" />
                        <input #port placeholder="port" />
                        <button (click)="addContact(ipAddress.value,port.value)">Add Contact</button> -->

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary transcendbtn" data-dismiss="modal" (click)="closeForNewAPI=false; loginModelStatusValue = false" *ngIf="closeForNewAPI">Close</button>
                <button type="button" (click)="addApiAddress(ipAddress.value,port.value)" *ngIf="!loginStatusBtn" disabled>Go</button>
                <button type="button" (click)="addApiAddress(ipAddress.value,port.value)" *ngIf="loginStatusBtn">Go</button>
            </div>
        </div>
    </div>
</div>