<div class="container-fluid" *ngIf="isDataAvailable == false">
    <div class="row">
        <div class="col-sm-12">
            <div class="loader"></div>
        </div>
    </div>
</div>

<div class="jumbotron" *ngIf="isDataAvailable == true">
    <div class="row">
        <div class="col-sm-10">
            <h3 class="display-4">{{title}}</h3>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-outline-primary" (click)="submitGatewayComp()">Save</button>
            <button type="button" class="btn btn-outline-secondary" (click)="cancel()">Reset</button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div tooltip="This panel is used to configure settings which are required for Gateway Service." placement="right" delay="500" style="cursor:pointer; display: inline-block;">
                        <!-- <div tooltip="This panel is used to configure BACnet Password if checkbox is checked otherwise it is optional field." placement="right" delay="500"> -->
                        <span style="background:transparent">Default Settings <i class="fa fa-info-circle" aria-hidden="true"></i></span>
                    </div>
                </div>

                <div class="card-body">
                    <div class="mainContent">
                        <div class="row addBorderBottom">
                            <div class="col-sm-4 rightBorder">
                                <div class="form-group" id="fieldName">
                                    <p><strong>Gateway Parameters</strong></p>
                                </div>
                            </div>
                            <div class="col-sm-4 rightBorder">
                                <div class="form-group" id="fieldName">
                                    <p><strong>Current Setting</strong></p>
                                </div>
                            </div>
                            <div class="col-sm-4 rightBorder">
                                <div class="form-group" id="fieldName">
                                    <p><strong>New Setting</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 rightBorder" style="padding : 0px">
                                <div class="form-group" id="fieldName" class="borderBottomField">
                                    <p><strong>Device ID</strong></p>
                                </div>
                                <div class="form-group" id="fieldName" class="borderBottomField">
                                    <p><strong>Molex API Url</strong></p>
                                </div>
                                <div class="form-group" id="fieldName" class="borderBottomField">
                                    <p><strong>Monitoring Default Priority</strong></p>
                                </div>
                                <div class="form-group" id="fieldName" class="borderBottomField">
                                    <p><strong>Molex Project ID</strong></p>
                                </div>
                            </div>

                            <div class="col-sm-4 rightBorder" style="padding: 0px">
                                <div *ngFor="let post of _postsArrayGateway">
                                    <div id="fieldName" class="borderBottomField1">
                                        {{post.DeviceId}}
                                    </div>
                                    <div id="fieldName" class="borderBottomField1">
                                        {{post.MolexApiUrl}}
                                    </div>
                                    <div id="fieldName" class="borderBottomField1">
                                        {{post.MonitoringDefaultPriority}}
                                    </div>
                                    <div id="fieldName" class="borderBottomField1">
                                        {{post.MolexProjectId}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4" style="padding : 0px">
                                <form [formGroup]="formGateway" (ngSubmit)="onSubmitGateway(formGateway.value)">
                                    <div *ngFor="let post of _postsArrayGateway">
                                        <div class="form-group borderBottomField1">
                                            <input name="DeviceId" type="text" class="form-control" id="exampleFormControlInput1" formControlName="DeviceId" required>
                                            <div tooltip="This TextInput is used to configure the Device ID which is required for Gateway Service." placement="left" delay="500" style="cursor:pointer; display: inline-block;">
                                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                            </div>
                                            <div *ngIf="formGateway.controls['DeviceId'].invalid && (formGateway.controls['DeviceId'].dirty || formGateway.controls['DeviceId'].touched)" class="alert alert-danger">
                                                <div *ngIf="formGateway.controls['DeviceId'].errors.required">
                                                    Device Id is required.
                                                </div>
                                                <!-- <div *ngIf="formGateway.controls['DeviceId'].errors.minlength">
                                                        Vendor Name must be at least 5 characters long.
                                                    </div> -->
                                            </div>
                                        </div>
                                        <div class="form-group borderBottomField1">
                                            <input name="MolexApiUrl" type="text" class="form-control" id="exampleFormControlInput1" formControlName="MolexApiUrl" required>
                                            <div tooltip="This TextInput is used to configure the API Service URL which is required for Gateway Service. Once done kindly click over the 'Save' before configuring the below Project Name" placement="left" delay="500" style="cursor:pointer; display: inline-block;">
                                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                            </div>
                                            <div *ngIf="formGateway.controls['MolexApiUrl'].invalid && (formGateway.controls['MolexApiUrl'].dirty || formGateway.controls['MolexApiUrl'].touched)" class="alert alert-danger">
                                                <div *ngIf="formGateway.controls['MolexApiUrl'].errors.required">
                                                    Model Name is required.
                                                </div>
                                                <!-- <div *ngIf="formGateway.controls['MolexApiUrl'].errors.minlength">
                                                        Model Name must be at least 5 characters long.
                                                    </div> -->
                                            </div>
                                        </div>

                                        <div class="form-group borderBottomField1">
                                            <span class="custom-dropdown custom-dropdown--red custom-dropdown--large">
                                                <select class="custom-dropdown__select custom-dropdown__select--red" (change)="molexProjectNameClick($event.srcElement.value)">
                                                  <option *ngFor = "let option of molexProjectNameValue"> {{option}} </option>
                                                </select>
                                            </span>

                                            <!-- <input name="APDUTimeout" type="number" class="form-control" id="exampleFormControlInput1" formControlName="APDUTimeout" minlength="5" maxlength="10" required>
                                            <div *ngIf="formGateway.controls['APDUTimeout'].invalid && (formGateway.controls['APDUTimeout'].dirty || formGateway.controls['APDUTimeout'].touched)" class="alert alert-danger">
                                                <div *ngIf="formGateway.controls['APDUTimeout'].errors.required">
                                                    APDU Timeout is required.
                                                </div>
                                                <div *ngIf="formGateway.controls['APDUTimeout'].errors.minlength">
                                                    APDU Timeout must be at least 5 characters long.
                                                </div>
                                            </div> -->
                                        </div>


                                        <div class="form-group borderBottomField1">
                                            <input name="MolexProjectId" type="text" class="form-control" id="exampleFormControlInput1" formControlName="MolexProjectId" required>
                                            <div tooltip="This TextInput is used to configure the Project ID which is required for Gateway Service." placement="left" delay="500" style="cursor:pointer; display: inline-block;">
                                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                            </div>
                                            <div *ngIf="formGateway.controls['MolexProjectId'].invalid && (formGateway.controls['MolexProjectId'].dirty || formGateway.controls['MolexProjectId'].touched)" class="alert alert-danger">
                                                <div *ngIf="formGateway.controls['MolexProjectId'].errors.required">
                                                    Project Id is required.
                                                </div>
                                                <!-- <div *ngIf="formGateway.controls['DeviceId'].errors.minlength">
                                                        Vendor Name must be at least 5 characters long.
                                                    </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row" style="background-color:#f9f9f9">
        <div class="col-sm-10">
            <h6><b>© Copyright 2019<span style="color:red"> molex, LLC.</span></b> All rights reserved.</h6>
        </div>
        <div class="col-sm-2">
            <h6 class="bacnetVersion">Version 1.2.0.0</h6>
        </div>
    </div>

</div>
