<div class="container-fluid" *ngIf="isDataAvailable == false">
    <div class="row">
        <div class="col-sm-12">
            <div class="loader"></div>
        </div>
    </div>
</div>

<div class="jumbotron" *ngIf="isDataAvailable == true">
    <div class="row">
        <div class="col-sm-10">
            <h3 class="display-4">{{title}}</h3>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-outline-primary" (click)="submitNotificationComp()">Save</button>
            <button type="button" class="btn btn-outline-secondary" (click)="cancel()">Reset</button>
        </div>
    </div>
    <!-- <form [formGroup]="formNotification" (ngSubmit)="onSubmitNotification(formNotification.value)"> -->
    <form [formGroup]="formNotification">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div tooltip="This panel is used to configure settings of Alarm and Event related properties." placement="right" delay="500" style="cursor:pointer; display: inline-block;">
                            <!-- <div tooltip="This panel is used to configure BACnet Password if checkbox is checked otherwise it is optional field." placement="right" delay="500"> -->
                            <span style="background:transparent">Alarm and Event Settings <i class="fa fa-info-circle" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="mainContent">
                            <div class="row addBorderBottom">
                                <div class="col-sm-4 rightBorder">
                                    <div class="form-group" id="fieldName">
                                        <p><strong>Alarm Properties</strong></p>
                                    </div>
                                </div>
                                <div class="col-sm-4 rightBorder">
                                    <div class="form-group" id="fieldName">
                                        <p><strong>Current Setting</strong></p>
                                    </div>
                                </div>
                                <div class="col-sm-4 rightBorder">
                                    <div class="form-group" id="fieldName">
                                        <p><strong>New Setting</strong></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 rightBorder" style="padding : 0px">
                                    <div class="form-group" id="fieldName" class="borderBottomField">
                                        <p><strong>Notify Type</strong></p>
                                    </div>
                                </div>

                                <div class="col-sm-4 rightBorder" style="padding: 0px">
                                    <div *ngFor="let post of _postsArrayNotification">
                                        <div id="fieldName" class="borderBottomField1">
                                            {{post.NotifyType}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4" style="padding : 0px">
                                    <div *ngFor="let post of _postsArrayNotification">

                                        <div class="form-group borderBottomField1">
                                            <span class="custom-dropdown custom-dropdown--red custom-dropdown--large">
                                                    <select class="custom-dropdown__select custom-dropdown__select--red" (change)="DataPublishClick($event.srcElement.value)">
                                                      <option *ngFor = "let option of molexAlarmTypeValue"> {{option}} </option>
                                                    </select>
                                                </span>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4 rightBorder" style="padding : 0px">
                                    <div class="form-group" id="fieldName" class="borderBottomField">
                                        <p><strong>Time Delay</strong></p>
                                    </div>
                                </div>

                                <div class="col-sm-4 rightBorder" style="padding: 0px">
                                    <div *ngFor="let post of _postsArrayNotification">
                                        <div id="fieldName" class="borderBottomField1">
                                            {{post.TimeDelay}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4" style="padding : 0px">
                                    <div class="form-group borderBottomField1">
                                        <input name="TimeDelay" type="text" class="form-control" id="exampleFormControlInput1" formControlName="TimeDelay" required>
                                        <div *ngIf="formNotification.controls['TimeDelay'].invalid && (formNotification.controls['TimeDelay'].dirty || formNotification.controls['TimeDelay'].touched)" class="alert alert-danger">
                                            <div *ngIf="formNotification.controls['TimeDelay'].errors.required">
                                                TimeDelay is required.
                                            </div>
                                            <!-- <div *ngIf="formNotification.controls['TimeDelay'].errors.minlength">
                                      Model Name must be at least 5 characters long.
                                  </div> -->
                                        </div>
                                    </div>


                                    <!-- <div *ngFor="let post of _postsArrayNotification">

                                        <div class="form-group borderBottomField1">
                                            <span class="custom-dropdown custom-dropdown--red custom-dropdown--large">
                                                    <select class="custom-dropdown__select custom-dropdown__select--red" (change)="DataPublishClick($event.srcElement.value)">
                                                      <option *ngFor = "let option of molexAlarmTypeValue"> {{option}} </option>
                                                    </select>
                                                </span>

                                        </div>

                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div tooltip="This panel is used to set Event Enable property of Alarm configurations at Building, Floor and Zone level." placement="right" delay="500" style="cursor:pointer; display: inline-block;">
                            <!-- <div tooltip="This panel is used to configure BACnet Password if checkbox is checked otherwise it is optional field." placement="right" delay="500"> -->
                            <span style="background:transparent">Event Enable Settings <i class="fa fa-info-circle" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="mainContent">
                            <div class="row addBorderBottom">
                                <div class="col-sm-4 rightBorder">
                                    <div class="form-group" id="fieldName">
                                        <p><strong>Alarm Configurations	</strong></p>
                                    </div>
                                </div>
                                <div class="col-sm-4 rightBorder">
                                    <div class="form-group" id="fieldName">
                                        <p><strong>Current Setting</strong></p>
                                    </div>
                                </div>
                                <div class="col-sm-4 rightBorder">
                                    <div class="form-group" id="fieldName">
                                        <p><strong>New Setting</strong></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 rightBorder" style="padding : 0px">
                                    <div class="form-group" id="fieldName" class="borderBottomField">
                                        <p><strong>Alarm at Building Level</strong></p>
                                    </div>
                                </div>

                                <div class="col-sm-4 rightBorder" style="padding: 0px">
                                    <div *ngFor="let post of _postsArrayNotification">
                                        <div id="fieldName" class="borderBottomField1">
                                            {{alarmBuildingValue}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4" style="padding : 0px">
                                    <div class="form-group borderBottomField1">
                                        <input type="checkbox" (click)="buildingAlarm($event)" [checked]="buildingLevelAlarm">
                                        <!-- <p class="showPassword">Show Password</p> -->
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4 rightBorder" style="padding : 0px">
                                    <div class="form-group" id="fieldName" class="borderBottomField">
                                        <p><strong>Alarm at Floor Level	</strong></p>
                                    </div>
                                </div>

                                <div class="col-sm-4 rightBorder" style="padding: 0px">
                                    <div *ngFor="let post of _postsArrayNotification">
                                        <div id="fieldName" class="borderBottomField1">
                                            {{alarmFloorValue}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4" style="padding : 0px">
                                    <div class="form-group borderBottomField1">
                                        <input type="checkbox" (click)="floorAlarm($event)" [checked]="floorLevelAlarm">
                                        <!-- <p class="showPassword">Show Password</p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div tooltip="This panel is used to set Event Enable property of Alarm configurations at Building, Floor and Zone level." placement="right" delay="500" style="cursor:pointer; display: inline-block;">
                            <!-- <div tooltip="This panel is used to configure BACnet Password if checkbox is checked otherwise it is optional field." placement="right" delay="500"> -->
                            <span style="background:transparent">Event Enable Settings <i class="fa fa-info-circle" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="mainContent">
                            <div class="row addBorderBottom">
                                <div class="col-sm-3 rightBorder">
                                    <div class="form-group" id="fieldName">
                                        <p><strong>Zone/Entities</strong></p>
                                    </div>
                                </div>
                                <div class="col-sm-3 rightBorder">
                                    <div class="form-group" id="fieldName">
                                        <p><strong>Current Setting</strong></p>
                                    </div>
                                </div>
                                <div class="col-sm-2 rightBorder">
                                    <div class="form-group" id="fieldName">
                                        <p><strong>Zone Level</strong></p>
                                    </div>
                                </div>
                                <div class="col-sm-2 rightBorder">
                                    <div class="form-group" id="fieldName">
                                        <p><strong>	Current setting</strong></p>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group" id="fieldName">
                                        <p><strong>Individual Level</strong></p>
                                    </div>
                                </div>

                            </div>
                            <!-- USERZONE STARTS -->
                            <div class="row">
                                <div class="col-sm-3 rightBorder" style="padding : 0px">
                                    <div class="form-group" id="fieldName" class="borderBottomField">

                                        <button (click)="toggleUserAlarm()" value="false"> User Zone </button>
                                        <!-- <strong><strong>{{zonesAlarmUser.Name}}</strong></p> -->
                                    </div>
                                </div>

                                <div class="col-sm-3 rightBorder" style="padding: 0px">
                                    <p>Select All</p>
                                    <!-- <div *ngFor="let post of _postsArrayNotification">
                                        <div id="fieldName" class="borderBottomField1">
                                            {{alarmBuildingValue}}
                                        </div>
                                    </div> -->
                                </div>
                                <div class="col-sm-2 rightBorder" style="padding : 0px">
                                    <div class="form-group borderBottomField1">
                                        <input type="checkbox" (click)="buildingAlarm($event)" [checked]="buildingLevelAlarm">
                                        <!-- <p class="showPassword">Show Password</p> -->
                                    </div>
                                </div>
                                <div class="col-sm-2 rightBorder" style="padding : 0px">
                                    <p>Select All</p>
                                </div>
                                <div class="col-sm-2" style="padding : 0px">
                                    <div class="form-group borderBottomField1">
                                        <input type="checkbox" (click)="buildingAlarm($event)" [checked]="buildingLevelAlarm">
                                        <!-- <p class="showPassword">Show Password</p> -->
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="showUserAlarm == true">
                                <div class="row" *ngFor="let zonesAlarmUser of userZones">
                                    <div class="col-sm-3 rightBorder" style="padding : 0px">
                                        <div class="form-group" id="fieldName" class="borderBottomField">
                                            <p><strong>{{zonesAlarmUser.Name}}</strong></p>
                                        </div>
                                    </div>

                                    <div class="col-sm-3 rightBorder" style="padding: 0px">
                                        <!-- <div *ngFor="let post of _postsArrayNotification">
                                          <div id="fieldName" class="borderBottomField1">
                                              {{alarmBuildingValue}}
                                          </div>
                                      </div> -->
                                    </div>
                                    <div class="col-sm-2 rightBorder" style="padding : 0px">
                                        <div class="form-group borderBottomField1">
                                            <input type="checkbox" (click)="buildingAlarm($event)" [checked]="buildingLevelAlarm">
                                            <!-- <p class="showPassword">Show Password</p> -->
                                        </div>
                                    </div>
                                    <div class="col-sm-2 rightBorder" style="padding : 0px">
                                        <div class="form-group borderBottomField1">
                                            <input type="checkbox" (click)="buildingAlarm($event)" [checked]="buildingLevelAlarm">
                                            <!-- <p class="showPassword">Show Password</p> -->
                                        </div>
                                    </div>
                                    <div class="col-sm-2" style="padding : 0px">
                                        <div class="form-group borderBottomField1">
                                            <input type="checkbox" (click)="buildingAlarm($event)" [checked]="buildingLevelAlarm">
                                            <!-- <p class="showPassword">Show Password</p> -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- USERZONE ENDS -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
    <div class="row" style="background-color:#f9f9f9">
        <div class="col-sm-10">
            <h6><b>© Copyright 2019<span style="color:red"> molex, LLC.</span></b> All rights reserved.</h6>
        </div>
        <div class="col-sm-2">
            <h6 class="bacnetVersion">Version 1.2.0.0</h6>
        </div>
    </div>

</div>
