<!-- main app container -->
<!-- <ul>
   <li *ngFor="let users of Users">
     <h2>{{prop}}</h2>
   </li>
   </ul>  -->

<div id="wrapper" [ngClass]="ref.click === true? 'toggled' :''">
    <!-- <div class="overlay" [ngStyle]="{disply:ref.click === true? 'block' :'none'}"></div> -->

    <!-- Sidebar -->

    <!-- <div *ngFor="let env of carsList; let i =index">
        <button (click)="buttonClick(i)" class="card-button" name="button" [ngClass]="[i == isselected ? 'button-active' : 'button-standard']">{{env}}</button>
    </div> -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 removePaddingDiv">
                <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
                    <ul class="nav sidebar-nav">
                        <!-- <li class="sidebar-brand">
                    <a href="#">
                       Brand
                    </a>
                </li> -->
                        <li *ngFor="let configList of allConfigList; let i =index">
                            <!-- <a href="#" (click)="showChart = !showChart"> Chart Config</a> -->
                            <button (click)="buttonClick(i)" class="card-button" [ngClass]="[i == isselected ? 'button-active' : 'button-standard']"> {{configList}}</button>

                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-8">
                <!-- /#sidebar-wrapper -->

                <!-- Page Content -->
                <div id="page-content-wrapper">
                    <button appSidebar #ref="appSidebar" type="button" class="hamburger is-open" data-toggle="offcanvas">
                        <span class="hamb-top"></span>
                        <span class="hamb-middle"></span>
                        <span class="hamb-bottom"></span>
                    </button>

                    <div class="container-fluid" id="removePadding" *ngIf="ref.click === false">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="jumbotron">
                                    <h1 class="display-4">User Configration</h1>
                                    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                                    <hr class="my-4">
                                    <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->

                                    <ul class="list-unstyled">
                                        <li class="media">
                                            <img src="../../assets/main_img_1.png" class="mr-3" alt="...">
                                            <div class="media-body">
                                                <h5 class="mt-0 mb-1">List-based media object</h5>
                                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                            </div>
                                        </li>
                                        <!-- <li class="media my-4">
                                    <img src="../../assets/main_img_2.png" class="mr-3" alt="...">
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">List-based media object</h5>
                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                    </div>
                                </li> -->
                                        <li class="media">
                                            <img src="../../assets/main_img_3.png" class="mr-3" alt="...">
                                            <div class="media-body">
                                                <h5 class="mt-0 mb-1">List-based media object</h5>
                                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                            </div>
                                        </li>
                                    </ul>
                                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                                </div>
                                <!-- <div class="mainContent">
                            helllodsssASSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
                        </div> -->
                            </div>
                        </div>
                    </div>

                    <div class="container" *ngIf="ref.click === true && isDataAvailable == false">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <div class="loader"></div>
                            </div>
                        </div>
                    </div>

                    <div class="container" *ngIf="ref.click === true && isDataAvailable == true">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <!-- getHumidex -->
                                <div class="mainContent" *ngIf="showHumidex">
                                    <img src="../../assets/inProgress.jpg" alt="image" width="987" class="img-responsive">

                                </div>
                                <!-- HeatmapUnitConfig -->
                                <div class="mainContent" *ngIf="showHeatmap">
                                    <img src="../../assets/inProgress.jpg" alt="image" width="987" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /#page-content-wrapper -->

            </div>
        </div>
    </div>
    <!-- /#wrapper -->
